<template>
    <v-app id="app">
        <AppBar/>
        <v-main>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-card elevation="2" tile>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12" md="12">
                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">ADMIN SETTINGS</v-toolbar-title>
                                        </v-toolbar>

                                        <v-card tile solo dense>
                                            <v-container fluid>
                                                <v-form ref="form"  lazy-validation>
                                                    <v-row>
                                                        <v-col  cols="12" md="12">
                                                            <br>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="MemberUsername" label="Admin username" required></v-text-field>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi mdi-lock" clearable  label="Admin password"  v-model="password"></v-text-field>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi mdi-lock" clearable  label="Confirm password"   v-model="ConfirmPassword"></v-text-field>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi mdi-email-outline" clearable  label="Email"   v-model="Email"></v-text-field>


                                                            <hr><br>
                                                            <template >
                                                                <div style="font-size:14px;font-family: Segoe UI !important;">Admin notifications</div>
                                                            </template>

                                                            <v-radio-group v-model="column" column>
                                                                <v-radio label="No email notifications to admin." value="radio-1"></v-radio>
                                                                <v-radio label="Notify admin only when a new member is waiting for approval." value="radio-2"></v-radio>
                                                                <v-radio label="Notify admin for all new sign-ups." value="radio-3"></v-radio>
                                                            </v-radio-group>
                                                            <hr><br>

                                                            <v-textarea class="teboxr"  rows="2" outlined  dense color="blue darken-4" prepend-icon="mdi mdi-folder-move" clearable v-model="Discription" label="Member approval email message" required ></v-textarea>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi-checkbox-multiple-marked-outline" clearable  label="Groups per page"   v-model="Groupsperpage"></v-text-field>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi-checkbox-multiple-marked-outline" clearable  label="Members per page"   v-model="Membersperpage"></v-text-field>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi-checkbox-multiple-marked-outline" clearable  label="Records per page"   v-model="Recordsperpage"></v-text-field>

                                                            <hr><br>
                                                            <template >
                                                                <div style="font-size:14px;font-family: Segoe UI !important;">Default sign-up mode for new groups</div>
                                                            </template>

                                                            <v-radio-group v-model="column" column>
                                                                <v-radio label="No sign-up allowed. Only the admin can add members." value="radio-1"></v-radio>
                                                                <v-radio label="Sign-up allowed, but the admin must approve members." value="radio-2"></v-radio>
                                                                <v-radio label="Sign-up allowed, and automatically approve members." value="radio-3"></v-radio>
                                                            </v-radio-group>
                                                            <hr><br>

                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi-checkbox-multiple-marked-outline" clearable  label="Name of the anonymous group"   v-model="Nameoftheanonymousgroup"></v-text-field>

                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi-checkbox-multiple-marked-outline" clearable  label="Name of the anonymous user"   v-model="Nameoftheanonymoususer"></v-text-field>

                                                            <v-textarea class="teboxr"  rows="2" outlined  dense color="blue darken-4" prepend-icon="mdi mdi-folder-move" clearable v-model="Discription" label="Maintenance mode message" required ></v-textarea>


                                                            <hr><br>
                                                            <template >
                                                                <div style="color:black !important;font-size:14px;font-family: Segoe UI !important;">Email settings</div>
                                                            </template>
                                                            <br>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi-checkbox-multiple-marked-outline" clearable  label="Sender email"   v-model="Senderemail"></v-text-field>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi-checkbox-multiple-marked-outline" clearable  label="Sender name"   v-model="Sendername"></v-text-field>


                                                            <template >
                                                                <div style="font-size:14px;font-family: Segoe UI !important;">Method of sending emails</div>
                                                            </template>

                                                            <v-radio-group v-model="column" column>
                                                                <v-radio label="PHP mail()" value="radio-1"></v-radio>
                                                                <v-radio label="SMTP" value="radio-2"></v-radio>
                                                            </v-radio-group>
                                                            <hr><br>

                                                            <v-app-bar color="white" flat dense >
                                                                <v-spacer></v-spacer>
                                                                <v-btn small color="red darken-1"  tile dark>
                                                                    <v-icon small color="white">mdi-delete-circle-outline</v-icon>&nbsp;Reset
                                                                </v-btn>

                                                                <v-btn small color="primary" tile dark class="ml-4">
                                                                    <v-icon small>mdi-table-edit</v-icon>&nbsp;Save changes
                                                                </v-btn>
                                                            </v-app-bar>
                                                        </v-col>
                                                    </v-row>
                                                </v-form>
                                            </v-container>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-card-text>

                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>
<script>
    import { mapState } from "vuex";
    import AppBar from "./AppBar.vue";
    export default {
        name: "AdminSettings",
        components: {
            AppBar,
        },
        data() {
            return {
                itemsPerPage: 4,
                drawer: false,
                group: null,
                tab: null,
                dialogBillInfo: false,
                dialogPickUpInfo: false,
                insertCheck: true,
                searchGroup: '',
                GroupType:['Agent', 'Customer', 'Admin', 'Retailer'],

                headersGroup: [
                    { text: 'Table', value: 'Table' },
                    { text: 'Insert', value: 'Insert' },
                    { text: 'View', value: 'View' },
                    { text: 'Edit', value: 'Edit' },
                    { text: 'Delete', value: 'Delete' },
                ],
                Group: [
                    {
                        Table: 'Admins',
                    },
                    {
                        Table: 'Retailers',
                    },
                ],

            };
        },
        computed: {
            ...mapState({
                gmap: (state) => state.gmap,
                httpheader: (state) => state.httpheader,
                selectedLocation: (state) => state.selectedLocation,
                farmers: (state) => state.farmers,
            }),

            onMapClick() {
                return store.state.selectedLocation;
            },
        },
        created() {

        },
        methods: {

        },
        watch: {

        },
    };
</script>