<template>
    <v-app id="app">
        <AppBar />
        <v-main>
         <v-card elevation="6">
            <v-container class="my-5">
                <v-row class="text-center">
                    <v-col cols="3">
                          <v-toolbar dense solo elevation="1">
                        <v-btn icon>
                          <v-icon>mdi-checkbox-marked-circle</v-icon>
                        </v-btn>
                        <v-col cols="12" sm="7" md="7">
                          <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">WEB USERS</v-toolbar-title>
                        </v-col>
                      </v-toolbar>
                    <v-card  width="275" tile  class="align-center text-center" :elevation="hover ? 1 : 1"  >
                          <img src="/img/appImage/web-users.png" height="150px" width="150px" class="white--text align-end mt-3" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
                          <!-- <v-card-text style="text-transform:uppercase;font-family: Segoe UI !important;font-weight: 700;font-size: 0.9rem !important;">Web Users</v-card-text> -->
                          <v-btn light outlined rounded text small style="margin-bottom:4% !important;width:70% !important;font-weight: bold !important;font-size: 12px !important;color:black !important;">
                            <v-icon small color="primary">mdi-arrow-up-bold-box</v-icon>
                            &nbsp;{{ web_users }}
                          </v-btn>
                          </img>
                        </v-card>
                    </v-col>
                    <v-col cols="3">
                          <v-toolbar dense solo elevation="1">
                        <v-btn icon>
                          <v-icon>mdi-checkbox-marked-circle</v-icon>
                        </v-btn>
                        <v-col cols="12" sm="7" md="7">
                          <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">MOBILE USERS</v-toolbar-title>
                        </v-col>
                      </v-toolbar>
                        <v-card  width="275" tile  class="align-center text-center" :elevation="hover ? 1 : 1"  >
                          <img src="/img/appImage/customer.png" height="150px" width="150px" class="white--text align-end mt-3" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">

                          <v-btn light outlined rounded text small style="margin-bottom:4% !important;width:70% !important;font-weight: bold !important;font-size: 12px !important;color:black !important;">
                            <v-icon small color="primary">mdi-arrow-up-bold-box</v-icon>
                            &nbsp;{{ mobile_users }}
                          </v-btn>
                          </img>
                        </v-card>
                    </v-col>
                    <v-col cols="3">
                          <v-toolbar dense solo elevation="1">
                        <v-btn icon>
                          <v-icon>mdi-checkbox-marked-circle</v-icon>
                        </v-btn>
                        <v-col cols="12" sm="7" md="7">
                          <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">BLOCK USERS</v-toolbar-title>
                        </v-col>
                      </v-toolbar>
                        <v-card  width="275" tile  class="align-center text-center" :elevation="hover ? 1 : 1"  >
                          <img src="/img/appImage/retailer.png" height="150px" width="150px" class="white--text align-end mt-3" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">

                          <v-btn light outlined rounded text small style="margin-bottom:4% !important;width:70% !important;font-weight: bold !important;font-size: 12px !important;color:black !important;">
                            <v-icon small color="primary">mdi-arrow-up-bold-box</v-icon>
                            &nbsp;{{ block_users }}
                          </v-btn>
                          </img>
                        </v-card>
                    </v-col>
                    <v-col cols="3">
                          <v-toolbar dense solo elevation="1">
                        <v-btn icon>
                          <v-icon>mdi-checkbox-marked-circle</v-icon>
                        </v-btn>
                        <v-col cols="12" sm="7" md="7">
                          <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">ADMIN USERS</v-toolbar-title>
                        </v-col>
                      </v-toolbar>
                    <v-card  width="275" tile  class="align-center text-center" :elevation="hover ? 1 : 1"  >
                          <img src="/img/appImage/agent.png" height="150px" width="150px" class="white--text align-end mt-3" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">

                          <v-btn light outlined rounded text small style="margin-bottom:4% !important;width:70% !important;font-weight: bold !important;font-size: 12px !important;color:black !important;">
                            <v-icon small color="primary">mdi-arrow-up-bold-box</v-icon>
                            &nbsp;{{ admin }}
                          </v-btn>
                          </img>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row class="text-center">
                    <v-col cols="6">
                        <v-toolbar dense solo elevation="1">
                        <v-btn icon>
                          <v-icon>mdi-checkbox-marked-circle</v-icon>
                        </v-btn>
                        <v-col cols="12" sm="7" md="7">
                          <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">ACTIVE USERS</v-toolbar-title>
                        </v-col>
                      </v-toolbar>
                        <v-card elevation="2">
                            <v-responsive>
                                <v-simple-table>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th class="text-left">#</th>
                                                <th class="text-left">Name</th>
                                                <th class="text-left">
                                                    E-mail
                                                </th>
                                                <th class="text-left">
                                                    Number
                                                </th>
                                                <!-- <th class="text-left">
                                                    Action
                                                </th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(data,index) in active_users" :key="index">
                                                <td>{{data.id}}</td>
                                                <td>{{data.name}}</td>
                                                <td>{{data.email}}</td>
                                                <td>{{data.mobile}}</td>
                                                <!-- <td>
                                                    <v-btn
                                                        depressed
                                                        small
                                                        color="primary"
                                                        >Edit</v-btn
                                                    >
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-responsive>
                        </v-card>
                    </v-col>
                    <v-col cols="6">
                        <v-card elevation="2">
                           <v-toolbar dense solo elevation="1">
                        <v-btn icon>
                          <v-icon>mdi-checkbox-marked-circle</v-icon>
                        </v-btn>
                        <v-col cols="12" sm="7" md="7">
                          <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">BLACK LIST</v-toolbar-title>
                        </v-col>
                      </v-toolbar>

                            <v-responsive>
                                <v-simple-table>
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th class="text-left">#</th>
                                                <th class="text-left">Name</th>
                                                <th class="text-left">
                                                    E-mail
                                                </th>
                                                <th class="text-left">
                                                    Number
                                                </th>
                                                <!-- <th class="text-left">
                                                    Action
                                                </th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(data,index) in blacklist_users" :key="index">
                                                <td>{{data.id}}</td>
                                                <td>{{data.name}}</td>
                                                <td>{{data.email}}</td>
                                                <td>{{data.mobile}}</td>
                                                <!-- <td>
                                                    <v-btn
                                                        depressed
                                                        small
                                                        color="primary"
                                                        >Edit</v-btn
                                                    >
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-responsive>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row class="text-center">
                    <v-col cols="12">
                         <v-toolbar dense solo elevation="1">
                        <v-btn icon>
                          <v-icon>mdi-checkbox-marked-circle</v-icon>
                        </v-btn>
                        <v-card-title>
                        Add Users
                        </v-card-title>
                <!--user modal-->
     <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
  <template v-slot:activator="{ on, attrs }">
  <v-btn
      class="mx-2"
      fab
     v-bind="attrs"
     v-on="on"
      dark
      small
      color="indigo"
    >
      <v-icon dark>
        mdi-plus
      </v-icon>
    </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="text-h5">Add Users</span>
        </v-card-title>
        <v-form @submit.prevent>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col
                cols="12"
                sm="6"
                md="4"
              >
                <v-text-field
                  label="First Name*"
                  v-model="form.fname"
                  required
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="6"
                md="4"
              >
                <v-text-field
                v-model="form.lname"
                required
                  label="Last Name"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="6"
                md="4"
              >
                <v-text-field
                  label="NIC Number"
                  v-model="form.nic"
                  persistent-hint
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="Email"
                  required
                  v-model="form.email"
                ></v-text-field>
              </v-col>
                <v-col cols="6">
                <v-file-input
         truncate-length="15"
     v-model="form.img"
     ></v-file-input>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Address"
                  type="text"
                  v-model="form.address"
                  required
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="6"
              >
              <v-text-field
                  label="DOB"
                  v-model="form.dob"
                  type="date"
                  required
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="6"
              >
                 <v-text-field
                  label="Mobile"
                  v-model="form.mobile"
                  type="number"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            type="submit"
            @click="add_users_data()"
          >
            Save
          </v-btn>
        </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </v-row>
    <!--end user modal-->
                        <v-col cols="12" sm="7" md="7">
                          <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">ALL USERS</v-toolbar-title>
                        </v-col>
                      </v-toolbar>
               <v-card elevation="2">
    <v-card-title>

      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="all_users"
      :search="search"
    >
    <template  v-slot:item.view="{ item }">
            <router-link :to="{ name: 'allUserInformation', params: { userId: 10 }}">
             <v-btn
              color="warning"
              fab
              small
              dark
              @click="add_users()"
            >
              <v-icon>mdi-account-circle</v-icon>
                   </v-btn>
              </router-link>
    </template>
    </v-data-table>

  </v-card>
                    </v-col>
                </v-row>
            </v-container>
            </v-card>
        </v-main>
    </v-app>
</template>
<script>
import AppBar from "./AppBar.vue";
import axios from 'axios';
import { store } from '../store/store';
import { mapState } from "vuex";

export default {

    name: "MainTradingPlatform",
    components: {
        AppBar
    },
    data() {
        return {
        dialog: false,
        search: '',
        web_users: "",
        mobile_users: "",
        block_users: "",
        admin: "",
        active_users: {},
        blacklist_users: {},
        form: new Form({
            uid: null,
            fname: "",
            lname: "",
            nic: "",
            email: "",
            address: "",
            dob: "",
            mobile: "",
            img: "",
        }),
        headers: [
        //   {
        //     text: 'Dessert (100g serving)',
        //     align: 'start',
        //     sortable: false,
        //     value: 'name',
        //   },
          { text: '#', value: 'id' },
          { text: 'First Name', value: 'fname' },
          { text: 'Last Name', value: 'lname' },
          { text: 'Nic', value: 'nic' },
          { text: 'E-Mail', value: 'email' },
          { text: 'Dob', value: 'dob' },
          { text: 'Mobile', value: 'mobile' },
          { text: 'Address', value: 'address' },
          { text: 'View', value: 'view' },
        ],
        all_users: [],
        };

    },
    computed: {
         ...mapState({
                gmap: state => state.gmap,
                httpheader: state => state.httpheader,
                pageloading: state => state.pageloading,
                appBarTitle: state => state.appBarTitle,
            }),
    },

    created() {
        this.webUsers();
        this.mobileUsers();
        this.blockUsers();
        this.adminUsers();
        this.all_users_2();
        this.activeUsers();
        this.blacklistUsers();
    },

    mounted: {},
    methods: {
        add_users() {
            router.push({ name: 'allUserInformation', params: { userId: 10 } })
        },

        webUsers() {
            axios
                .get("/api/web-users")
                .then((response) => {
                    if (response.status == 200) {
                        this.web_users = response.data;
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
        },
      mobileUsers() {
            axios
                .get("/api/mobile-users")
                .then((response) => {
                    if (response.status == 200) {
                        this.mobile_users = response.data;
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        blockUsers() {
            axios
                .get("/api/block-users")
                .then((response) => {
                    if (response.status == 200) {
                        this.block_users = response.data;
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        adminUsers() {
            axios
                .get("/api/admin")
                .then((response) => {
                    if (response.status == 200) {
                        this.admin = response.data;
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        activeUsers() {
            axios
                .get("/api/active-users")
                .then((response) => {
                    if (response.status == 200) {
                        this.active_users = response.data;
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        blacklistUsers() {
            axios
                .get("/api/black-list-users")
                .then((response) => {
                    if (response.status == 200) {
                        this.blacklist_users = response.data;
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
        },

        add_users_data() {
            if(store.state.httpheader && store.state.httpheader.user)
                 this.form.uid = store.state.httpheader.user.id;

            this.form
                .post("/api/add-user-data")
                .then(response => {
                    if (response.status == 200) {
                        this.$toaster.success(response.data.message);
                        //this.$router.push('/home');
                    }
                    this.form.reset();
                    this.dialog = false;
                    this.all_users_2();


                })
                .catch(error => {
                    console.log(error);
                });
        },
        all_users_2() {
            //  alert("n");
            //  axios.get('/api/all-users').then((res)=>{

            //     alert(res.data.message);
            // }).catch();

            axios
                .get("/api/all-users")
                .then((response) => {
                    if (response.status == 200) {
                        this.all_users = response.data;
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
        },
    }
};
</script>
