<template>
    <v-app id="app">
        <AppBar />
        <v-main>
            <v-container class="my-5">
                <v-card width="1200" height="500" class="mx-auto" elevation="6">
                    <v-row no-gutters>
                        <v-col cols="8" sm="6" md="8">
                            <v-card class="pa-2" outlined tile>
                                <v-row>
                                    <v-col-8>
                                        <v-chip
                                            style="width:250px;"
                                            class="ma-2"
                                            color="primary"
                                            label
                                        >
                                            <v-icon left>
                                                mdi-account-circle-outline
                                            </v-icon>
                                            Register ID
                                        </v-chip>
                                    </v-col-8>
                                    <v-col-4>
                                        <v-chip
                                            class="ma-2"
                                            color="green"
                                            style="width:220px;"
                                            text-color="white"
                                        >
                                            {{ users_data.id }}
                                        </v-chip>
                                    </v-col-4>
                                </v-row>
                                <v-row>
                                    <v-col-8>
                                        <v-chip
                                            style="width:250px;"
                                            class="ma-2"
                                            color="primary"
                                            label
                                        >
                                            <v-icon left>
                                                mdi-account-circle-outline
                                            </v-icon>
                                            First Name
                                        </v-chip>
                                    </v-col-8>
                                    <v-col-4>
                                        <v-chip
                                            class="ma-2"
                                            color="green"
                                            style="width:220px;"
                                            text-color="white"
                                        >
                                            {{ users_data.fname }}
                                        </v-chip>
                                    </v-col-4>
                                </v-row>
                                <v-row>
                                    <v-col-8>
                                        <v-chip
                                            style="width:250px;"
                                            class="ma-2"
                                            color="primary"
                                            label
                                        >
                                            <v-icon left>
                                                mdi-account-circle-outline
                                            </v-icon>
                                            Last Name
                                        </v-chip>
                                    </v-col-8>
                                    <v-col-4>
                                        <v-chip
                                            class="ma-2"
                                            color="green"
                                            style="width:220px;"
                                            text-color="white"
                                        >
                                            {{ users_data.lname }}
                                        </v-chip>
                                    </v-col-4>
                                </v-row>
                                <v-row>
                                    <v-col-8>
                                        <v-chip
                                            style="width:250px;"
                                            class="ma-2"
                                            color="primary"
                                            label
                                        >
                                            <v-icon left>
                                                mdi-account-circle-outline
                                            </v-icon>
                                            E-mail
                                        </v-chip>
                                    </v-col-8>
                                    <v-col-4>
                                        <v-chip
                                            class="ma-2"
                                            color="green"
                                            style="width:220px;"
                                            text-color="white"
                                        >
                                            {{ users_data.email }}
                                        </v-chip>
                                    </v-col-4>
                                </v-row>
                                <v-row>
                                    <v-col-8>
                                        <v-chip
                                            style="width:250px;"
                                            class="ma-2"
                                            color="primary"
                                            label
                                        >
                                            <v-icon left>
                                                mdi-account-circle-outline
                                            </v-icon>
                                            Nic
                                        </v-chip>
                                    </v-col-8>
                                    <v-col-4>
                                        <v-chip
                                            class="ma-2"
                                            color="green"
                                            style="width:220px;"
                                            text-color="white"
                                        >
                                            {{ users_data.nic }}
                                        </v-chip>
                                    </v-col-4>
                                </v-row>
                                <v-row>
                                    <v-col-8>
                                        <v-chip
                                            style="width:250px;"
                                            class="ma-2"
                                            color="primary"
                                            label
                                        >
                                            <v-icon left>
                                                mdi-account-circle-outline
                                            </v-icon>
                                            Address
                                        </v-chip>
                                    </v-col-8>
                                    <v-col-4>
                                        <v-chip
                                            class="ma-2"
                                            color="green"
                                            style="width:220px;"
                                            text-color="white"
                                        >
                                            {{ users_data.address }}
                                        </v-chip>
                                    </v-col-4>
                                </v-row>
                                <v-row>
                                    <v-col-8>
                                        <v-chip
                                            style="width:250px;"
                                            class="ma-2"
                                            color="primary"
                                            label
                                        >
                                            <v-icon left>
                                                mdi-account-circle-outline
                                            </v-icon>
                                            Mobile Number
                                        </v-chip>
                                    </v-col-8>
                                    <v-col-4>
                                        <v-chip
                                            class="ma-2"
                                            color="green"
                                            style="width:220px;"
                                            text-color="white"
                                        >
                                            {{ users_data.mobile }}
                                        </v-chip>
                                    </v-col-4>
                                </v-row>
                                <v-row>
                                    <v-col-8>
                                        <v-chip
                                            style="width:250px;"
                                            class="ma-2"
                                            color="primary"
                                            label
                                        >
                                            <v-icon left>
                                                mdi-account-circle-outline
                                            </v-icon>
                                            Birthday
                                        </v-chip>
                                    </v-col-8>
                                    <v-col-4>
                                        <v-chip
                                            class="ma-2"
                                            color="green"
                                            style="width:220px;"
                                            text-color="white"
                                        >
                                            {{ users_data.dob }}
                                        </v-chip>
                                    </v-col-4>
                                </v-row>
                                <v-row>
                                    <v-col-8>
                                        <v-chip
                                            style="width:250px;"
                                            class="ma-2"
                                            color="primary"
                                            label
                                        >
                                            <v-icon left>
                                                mdi-account-circle-outline
                                            </v-icon>
                                            Register Date
                                        </v-chip>
                                    </v-col-8>
                                    <v-col-4>
                                        <v-chip
                                            class="ma-2"
                                            color="green"
                                            style="width:220px;"
                                            text-color="white"
                                        >
                                            {{ users_data.created_at }}
                                        </v-chip>
                                    </v-col-4>
                                </v-row>
                            </v-card>
                        </v-col>
                        <v-col cols="4" md="4">
                            <v-img
                                :lazy-src="'../' + users_data.image"
                                max-height="100"
                                max-width="100"
                                alt="user image"
                                width="500"
                                height="300"
                                :src="'../' + users_data.image"
                            ></v-img
                            ><br />
                            <v-container>
                                <v-btn depressed color="primary">
                                    Edit
                                </v-btn>
                                <v-btn depressed color="error">
                                    Delete
                                </v-btn>
                                <div class="my-2">
                                    <v-btn small color="primary" dark>
                                        Block User
                                    </v-btn>
                                </div>
                            </v-container>
                        </v-col>
                    </v-row>
                </v-card>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
import AppBar from "./AppBar.vue";
export default {
    name: "allUserInformationView",
    components: {
        AppBar
    },
    created() {
        this.get_user_data();
    },
    data() {
        return {
            switch1: true,
            users_data: {},
            user_id: "12",
        };
    },
    mounted() {
        this.user_id = this.$route.params.userId;
    },

    methods: {
        get_user_data() {
            axios
                .get("/api/users-data/" + this.user_id)
                .then(response => {
                    if (response.status == 200) {
                        this.users_data = response.data;
                    }
                })
                .catch(error => {
                    console.log(error);
                });
        }
    }
};
</script>

<style scoped></style>
