<template>
    <div>
        <v-app-bar dense app clipped-left color="white" >
            <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
            <v-toolbar-title class="overline" style="font-weight:bold;font-family: Segoe UI !important;font-size: 14px !important">ADMINISTRATOR AREA</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon @click="logout">
                <v-icon>exit_to_app</v-icon>
            </v-btn>
        </v-app-bar>

        <v-navigation-drawer v-model="drawer" absolute temporary>
            <v-row justify="center" class="mt-3">
                <v-avatar size="100">
                    <v-img src="/img/logo_1.png" />
                </v-avatar>
            </v-row>

            <v-col cols="12" sm="12" md="12">
                <v-container>
                    <v-btn tile  block color="primary" small >ADMINISTRATOR AREA</v-btn>
                </v-container>
            </v-col>

            <div class="timeline">
                <div class="timeline-section">
                    <v-list-item :to="{ name: 'admin' }" style="background-image: linear-gradient(-0.5deg, #FFFFFF 97%, #E0E0E0 100%);" >
                        <v-list-item-title class="" style="font-size: 12px !important;">
                            <v-chip style="width: 100% !important" small color="gary">
                                Dashboard
                            </v-chip>
                        </v-list-item-title>
                    </v-list-item>
                </div>


                <div class="timeline-section">
                    <v-list-item :to="{ name: 'pageViewGroups' }" style="background-image: linear-gradient(-0.5deg, #FFFFFF 97%, #E0E0E0 100%);" >
                        <v-list-item-title class="" style="font-size: 12px !important;">
                            <v-chip style="width: 100% !important" small color="gary">
                                View groups
                            </v-chip>
                        </v-list-item-title>
                    </v-list-item>
                </div>


                <div class="timeline-section">
                    <v-list-item :to="{ name: 'pageViewMembers' }"  style="background-image: linear-gradient(-0.5deg, #FFFFFF 97%, #E0E0E0 100%);" >
                        <v-list-item-title class="" style="font-size: 12px !important;">
                            <v-chip style="width: 100% !important" small color="gary">
                                User manager
                            </v-chip>
                        </v-list-item-title>
                    </v-list-item>
                </div>


                <div class="timeline-section">
                    <v-list-item :to="{ name: 'pageViewRecords' }"  style="background-image: linear-gradient(-0.5deg, #FFFFFF 97%, #E0E0E0 100%);" >
                        <v-list-item-title class="" style="font-size: 12px !important;">
                            <v-chip style="width: 100% !important" small color="gary">
                                View user records
                            </v-chip>
                        </v-list-item-title>
                    </v-list-item>
                </div>


                <div class="timeline-section">
                    <v-list-item :to="{ name: 'noticeManagement' }"  style="background-image: linear-gradient(-0.5deg, #FFFFFF 97%, #E0E0E0 100%);" >
                        <v-list-item-title class="" style="font-size: 12px !important;">
                            <v-chip style="width: 100% !important" small color="gary">
                                Notice management
                            </v-chip>
                        </v-list-item-title>
                    </v-list-item>
                </div>


                <div class="timeline-section">
                    <v-list-item :to="{ name: 'AdminSettings' }"  style="background-image: linear-gradient(-0.5deg, #FFFFFF 97%, #E0E0E0 100%);" >
                        <v-list-item-title class="" style="font-size: 12px !important;">
                            <v-chip style="width: 100% !important" small color="gary">
                                Admin settings
                            </v-chip>
                        </v-list-item-title>
                    </v-list-item>
                </div>


                <div class="timeline-section">
                    <v-list-item :to="{ name: 'ImportCSV' }"  style="background-image: linear-gradient(-0.5deg, #FFFFFF 97%, #E0E0E0 100%);" >
                        <v-list-item-title class="" style="font-size: 12px !important;">
                            <v-chip style="width: 100% !important" small color="gary">
                                Import CSV
                            </v-chip>
                        </v-list-item-title>
                    </v-list-item>
                </div>


                <div class="timeline-section">
                    <v-list-item :to="{ name: 'TransferOfOwnership' }"  style="background-image: linear-gradient(-0.5deg, #FFFFFF 97%, #E0E0E0 100%);" >
                        <v-list-item-title class="" style="font-size: 12px !important;">
                            <v-chip style="width: 100% !important" small color="gary">
                                Transfer Of Ownership
                            </v-chip>
                        </v-list-item-title>
                    </v-list-item>
                </div>


                <div class="timeline-section">
                    <v-list-item :to="{ name: 'mailAccounts' }"  style="background-image: linear-gradient(-0.5deg, #FFFFFF 97%, #E0E0E0 100%);" >
                        <v-list-item-title class="" style="font-size: 12px !important;">
                            <v-chip style="width: 100% !important" small color="gary">
                                Mail account settings
                            </v-chip>
                        </v-list-item-title>
                    </v-list-item>
                </div>


                <div class="timeline-section">
                    <v-list-item :to="{ name: 'Backups' }"  style="background-image: linear-gradient(-0.5deg, #FFFFFF 97%, #E0E0E0 100%);" >
                        <v-list-item-title class="" style="font-size: 12px !important;">
                            <v-chip style="width: 100% !important" small color="gary">
                                Backups
                            </v-chip>
                        </v-list-item-title>
                    </v-list-item>
                </div>


                <div class="timeline-section">
                    <v-list-item :to="{ name: 'restore' }"  style="background-image: linear-gradient(-0.5deg, #FFFFFF 97%, #E0E0E0 100%);" >
                        <v-list-item-title class="" style="font-size: 12px !important;">
                            <v-chip style="width: 100% !important" small color="gary">
                                Restore
                            </v-chip>
                        </v-list-item-title>
                    </v-list-item>
                </div>


                <div class="timeline-section">
                    <v-list-item :to="{ name: 'IPBlocker' }"  style="background-image: linear-gradient(-0.5deg, #FFFFFF 97%, #E0E0E0 100%);" >
                        <v-list-item-title class="" style="font-size: 12px !important;">
                            <v-chip style="width: 100% !important" small color="gary">
                                IP blocker
                            </v-chip>
                        </v-list-item-title>
                    </v-list-item>
                </div>


                <div class="timeline-section">
                    <v-list-item :to="{ name: 'manageAPITokens' }"  style="background-image: linear-gradient(-0.5deg, #FFFFFF 97%, #E0E0E0 100%);" >
                        <v-list-item-title class="" style="font-size: 12px !important;">
                            <v-chip style="width: 100% !important" small color="gary">
                                Manage API tokens
                            </v-chip>
                        </v-list-item-title>
                    </v-list-item>
                </div>


                <div class="timeline-section">
                    <v-list-item :to="{ name: 'siteInformation' }"  style="background-image: linear-gradient(-0.5deg, #FFFFFF 97%, #E0E0E0 100%);" >
                        <v-list-item-title class="" style="font-size: 12px !important;">
                            <v-chip style="width: 100% !important" small color="gary">
                                Site information
                            </v-chip>
                        </v-list-item-title>
                    </v-list-item>
                </div>


                <div class="timeline-section">
                    <v-list-item :to="{ name: 'userLoginManagement' }"  style="background-image: linear-gradient(-0.5deg, #FFFFFF 97%, #E0E0E0 100%);" >
                        <v-list-item-title class="" style="font-size: 12px !important;">
                            <v-chip style="width: 100% !important" small color="gary">
                                User login management
                            </v-chip>
                        </v-list-item-title>
                    </v-list-item>
                </div>
            </div>
        </v-navigation-drawer>
    </div>
</template>

<script>
    import { mapState } from "vuex";
    import {store} from "../store/store.js";
    export default {
        component:{
            store,
        },
        name:'AppBar',
        data: () => ({
            drawer: false,
            group:null,
            atHome:false
        }),
        computed: {
            ...mapState({
                gmap: state => state.gmap,
                httpheader: state => state.httpheader,
                pageloading: state => state.pageloading,
                appBarTitle: state => state.appBarTitle,
            }),
            pageLoadingProgress(){
                return store.state.pageloading;
            },
            user(){
                return store.state.httpheader.user;
            },
            title(){
                return store.state.appBarTitle;
            }
        },
        watch: {
            $route(to, from) {
                let lastURL = to.path.substring(
                    to.path.lastIndexOf("/") + 1
                );
                if(lastURL === 'admin'){
                    this.atHome = true;
                }else{
                    this.atHome = false;
                }
            }
        },
        created(){
            let laravel = JSON.parse(window.Laravel);

            if(laravel.user){
                this.user = laravel.user;
                if(this.user.showHint === 'true'){
                    this.hintDialog = true;
                }
                const header = {
                    'X-CSRF-TOKEN': laravel.csrfToken,
                    'X-Requested-With': 'XMLHttpRequest'
                };
                let payload = {
                    header: header,
                    user:laravel.user
                };
                store.commit('setHttpHeader',payload);
            }else{
                this.logout();
            }


            let lastURL = this.$route.path.substring(
                this.$route.path.lastIndexOf("/") + 1
            );
            if(lastURL === 'admin'){
                this.atHome = true;
            }
        },
        methods:{
            logout(){
                window.setLogout();
            },
            goBack(){
                this.$router.back();
            },

            gotoMap(){
                window.location.href = '/login';
            }
        }
    }
</script>
<style>
    .v-breadcrumbs__item--disabled{
        color:black !important;
    }
    .v-breadcrumbs__item{
        text-decoration:none !important;
    }


    .timeline{
        position:relative;
    }
    .timeline:before{
        position:absolute;
        content:'';
        width:4px;
        height:calc(100%);
        background: rgb(138,145,150);
        background: -moz-linear-gradient(left, rgba(138,145,150,1) 0%, rgba(122,130,136,1) 60%, rgba(98,105,109,1) 100%);
        background: -webkit-linear-gradient(left, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(98,105,109,1) 100%);
        background: linear-gradient(to right, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(98,105,109,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a9196', endColorstr='#62696d',GradientType=1 );
        left:20px;
        top:5px;
        border-radius:4px;
    }
    .timeline-section{
        padding-left:35px;
        display:block;
        position:relative;
        margin-bottom:10px;
    }
    .timeline-section:before{
        content:'';
        position:absolute;
        width:30px;
        height:1px;
        background-color:#444950;
        top:25px;
        left:10px;
    }
    .timeline-section:after{
        content:'';
        position:absolute;
        width:10px;
        height:10px;
        background:linear-gradient(to bottom, rgba(138,145,150,1) 0%,rgba(122,130,136,1) 60%,rgba(112,120,125,1) 100%);
        top:20px;
        left:27px;
        border:1px solid #17191B;
        border-radius:100%;
    }

</style>
