<template>
    <v-app id="app">
        <AppBar/>
        <v-main>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-card elevation="2" tile>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12" md="12">
                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">DATABASE BACKUPS</v-toolbar-title>
                                        </v-toolbar><br>


                                        <v-card tile solo dense>
                                            <v-row  align="center" class="mx-auto">
                                                <v-col cols="12" sm="3" md="3">
                                                    <v-card :to="{ name: 'FullBackups' }"  tile dark color="blue darken-3">
                                                        <v-card-text style="color:white !important;text-align:center !important;font-size:13px !important;font-family: Segoe UI !important;font-weight: 700">
                                                            <v-icon >mdi-picture-in-picture-bottom-right</v-icon>&nbsp; Full Backups
                                                        </v-card-text>
                                                    </v-card>
                                                </v-col>

                                                <v-col cols="12" sm="3" md="3">
                                                    <v-card :to="{ name: 'FileBackups' }"  tile dark color="pink darken-3">
                                                        <v-card-text  style="color:white !important;text-align:center !important;font-size:13px !important;font-family: Segoe UI !important;font-weight: 700">
                                                            <v-icon >mdi-table-arrow-down</v-icon>&nbsp;  File Backups
                                                        </v-card-text>
                                                    </v-card>
                                                </v-col>
                                                <v-col cols="12" sm="3" md="3">
                                                    <v-card :to="{ name: 'DatabaseBackups' }"  tile dark color="orange darken-3">
                                                        <v-card-text  style="color:white !important;text-align:center !important;font-size:13px !important;font-family: Segoe UI !important;font-weight: 700">
                                                            <v-icon >mdi-database-export</v-icon>&nbsp;  Database Backups
                                                        </v-card-text>
                                                    </v-card>
                                                </v-col>
                                                <v-col cols="12" sm="3" md="3">
                                                    <v-card :to="{ name: 'backforEmails' }" tile dark color="red accent-3">
                                                        <v-card-text  style="color:white !important;text-align:center !important;font-size:13px !important;font-family: Segoe UI !important;font-weight: 700">
                                                            <v-icon >mdi-email-edit</v-icon>&nbsp; Backup for emails
                                                        </v-card-text>
                                                    </v-card>
                                                </v-col>
                                            </v-row>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-card-text>

                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>
<script>
    import { mapState } from "vuex";
    import AppBar from "./AppBar.vue";
    export default {
        name: "backforEmails",
        components: {
            AppBar,
        },
        data() {
            return {
                panel: [0, 1],
                itemsPerPage: 4,
                drawer: false,
                group: null,
                tab: null,
                dialogBillInfo: false,
                dialogPickUpInfo: false,
                insertCheck: true,
                searchGroup: '',
                GroupType:['Agent', 'Customer', 'Admin', 'Retailer'],

                headersGroup: [
                    { text: 'Table', value: 'Table' },
                    { text: 'Insert', value: 'Insert' },
                    { text: 'View', value: 'View' },
                    { text: 'Edit', value: 'Edit' },
                    { text: 'Delete', value: 'Delete' },
                ],
                Group: [
                    {
                        Table: 'Admins',
                    },
                    {
                        Table: 'Retailers',
                    },
                ],

            };
        },
        computed: {
            ...mapState({
                gmap: (state) => state.gmap,
                httpheader: (state) => state.httpheader,
                selectedLocation: (state) => state.selectedLocation,
                farmers: (state) => state.farmers,
            }),

            onMapClick() {
                return store.state.selectedLocation;
            },
        },
        created() {

        },
        methods: {

        },
        watch: {

        },
    };
</script>