<template>
    <div v-ripple="{ center: true }" class="foodCategories" ref="foodCategories"></div>
</template>

<script>
    import * as am4core from "@amcharts/amcharts4/core";
    import * as am4charts from "@amcharts/amcharts4/charts";
    import am4themes_animated from "@amcharts/amcharts4/themes/animated";
    am4core.useTheme(am4themes_animated);

    export default {
        name: "foodCategories",
        mounted() {
            let chart = am4core.create("foodCategories", am4charts.XYChart);
            chart.fontSize = 10;
            chart.logo.disabled = true;

            let data = [];
            let open = 100;
            let close = 120;

            let names = [
                "Mango",
                "Chilies",
                "Papaya",
                "Carrot",
                "Green cabbage",
                "Cucumber",
                "Kolikuttu Banana",
                "Keeri samba",
                "Red nadu",
                "Cinnamon",
                "Turmeric",
                "Clove",
                "Dhal",
            ];

            for (var i = 0; i < names.length; i++) {
                open += Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 5);
                close = open + Math.round(Math.random() * 10) + 3;
                data.push({ category: names[i], open: open, close: close });
            }

            chart.data = data;
            let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.renderer.grid.template.location = 0;
            categoryAxis.dataFields.category = "category";
            categoryAxis.renderer.minGridDistance = 15;
            categoryAxis.renderer.grid.template.location = 0.5;
            categoryAxis.renderer.grid.template.strokeDasharray = "1,3";
            categoryAxis.renderer.labels.template.rotation = -90;
            categoryAxis.renderer.labels.template.horizontalCenter = "left";
            categoryAxis.renderer.labels.template.location = 0.5;
            categoryAxis.renderer.inside = true;

            categoryAxis.renderer.labels.template.adapter.add("dx", function(dx, target) {
                return -target.maxRight / 2;
            })

            let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.tooltip.disabled = true;
            valueAxis.renderer.ticks.template.disabled = true;
            valueAxis.renderer.axisFills.template.disabled = true;

            let series = chart.series.push(new am4charts.ColumnSeries());
            series.dataFields.categoryX = "category";
            series.dataFields.openValueY = "open";
            series.dataFields.valueY = "close";
            series.tooltipText = "Price: Rs - {openValueY.value}";
            series.sequencedInterpolation = true;
            series.fillOpacity = 0;
            series.strokeOpacity = 1;
            series.columns.template.width = 0.01;
            series.tooltip.pointerOrientation = "horizontal";

            let openBullet = series.bullets.create(am4charts.CircleBullet);
            openBullet.locationY = 1;
            chart.cursor = new am4charts.XYCursor();
            chart.scrollbarX = new am4core.Scrollbar();

        },
    };
</script>

<style scoped>
    .foodCategories {
        width: 100%;
        height: 325px;
    }
</style>