<template>
    <v-app id="app">
        <AppBar/>
        <v-main>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-card elevation="2" tile>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12" md="12">
                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">FULL BACKUPS</v-toolbar-title>
                                            <v-spacer></v-spacer>
                                            <v-btn :to="{ name: 'Backups' }" style="font-family: Segoe UI !important;" tile small dark color="primary">
                                                <v-icon x-small>mdi mdi-backburger</v-icon>&nbsp;
                                                Back to backups
                                            </v-btn>
                                        </v-toolbar>
                                        <v-sheet elevation="2"  color="grey lighten-3"  style="padding:12px 12px 12px 12px;font-family: Segoe UI !important;font-size: 12px;">
                                            &nbsp;This feature allows you to download a compressed copy of all or part of your application & databases.
                                            <v-list dense>
                                                <v-list-item-group >
                                                    <v-list-item> 1. MySQL® databases backup.</v-list-item>
                                                    <v-list-item> 2. Application file backup.</v-list-item>
                                                </v-list-item-group>
                                            </v-list>
                                        </v-sheet><br>

                                        <v-card tile solo dense>
                                            <v-container fluid>
                                                <v-form ref="form"  lazy-validation>
                                                    <v-row>
                                                        <v-col  cols="12" md="12">
                                                            <br>

                                                            <v-select class="teboxr" outlined  dense color="blue darken-4"  :messages="['Select database, you want to create an backup']" clearable prepend-icon="mdi-checkbox-multiple-marked-outline"label="Select database" :items="['Agrobizz','Geobizz']" required ></v-select>
                                                            <v-select class="teboxr" outlined  dense color="blue darken-4"  :messages="['Select application, you want to create an backup']" clearable prepend-icon="mdi-checkbox-multiple-marked-outline"label="Backup application" :items="['Agrobizz','Geobizz']" required ></v-select>
                                                            <v-select class="teboxr" outlined  dense color="blue darken-4"  :messages="['Select destination, you want to get an backup']" clearable prepend-icon="mdi-checkbox-multiple-marked-outline"label="Backup destination" :items="['Remote FTP server','Secure copy']" required ></v-select>

                                                            <v-app-bar color="white" flat dense >
                                                                <v-spacer></v-spacer>
                                                                <v-btn small color="red darken-1"  tile dark>
                                                                    <v-icon small color="white">mdi-delete-circle-outline</v-icon>&nbsp;Reset
                                                                </v-btn>

                                                                <v-btn small color="primary" tile dark class="ml-4">
                                                                    <v-icon small>mdi-table-edit</v-icon>&nbsp;Generate backup
                                                                </v-btn>
                                                            </v-app-bar>
                                                        </v-col>
                                                    </v-row>
                                                </v-form>
                                            </v-container>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-card-text>

                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>
<script>
    import { mapState } from "vuex";
    import AppBar from "./AppBar.vue";
    export default {
        name: "FullBackups",
        components: {
            AppBar,
        },
        data() {
            return {
                itemsPerPage: 4,
                drawer: false,
                group: null,
                tab: null,
                dialogBillInfo: false,
                dialogPickUpInfo: false,
                insertCheck: true,
                searchemailaccounts: '',

                headersEmailaccounts: [
                    { text: 'Account name', value: 'Account' },
                    { text: 'Restrictions', value: 'Restrictions' },
                    { text: 'Genarated date', value: 'GenaratedDate' },
                    { text: 'Application', value: 'Application' },
                    { text: 'Connected devices', value: 'Connected' },
                    { text: 'Delete', value: 'Delete' },
                ],
                emailaccounts: [
                    {
                        Account: 'lahiru@celatatech.com',
                        Restrictions:'Suspend',
                        GenaratedDate:'2021-05-08',
                        Application:'Geobizz',
                    },
                    {
                        Account: 'giswam@celatatech.com',
                        Restrictions:'Allow',
                        GenaratedDate:'2021-01-02',
                        Application:'Agrobizz',
                    },
                    {
                        Account: 'rasika@celatatech.com',
                        Restrictions:'Hold',
                        GenaratedDate:'2020-12-23',
                        Application:'Agrobizz',
                    },
                ],

            };
        },
        computed: {
            ...mapState({
                gmap: (state) => state.gmap,
                httpheader: (state) => state.httpheader,
                selectedLocation: (state) => state.selectedLocation,
                farmers: (state) => state.farmers,
            }),

            onMapClick() {
                return store.state.selectedLocation;
            },
        },
        created() {

        },
        methods: {

        },
        watch: {

        },
    };
</script>