<template>
    <v-app id="app">
        <AppBar/>
        <v-main>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-card elevation="2" tile>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12" md="12">
                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">IMPORT EXCEL OR CSV</v-toolbar-title>
                                        </v-toolbar>

                                        <v-card tile solo dense>
                                            <v-container fluid>
                                                <v-form ref="form"  lazy-validation>
                                                    <v-row>
                                                        <v-col  cols="12" md="12">

                                                            <v-expansion-panels v-model="panel" :readonly="readonly" multiple>
                                                                <v-expansion-panel>
                                                                    <v-expansion-panel-header>
                                                                        <div style="font-size:14px;font-family: Segoe UI !important;">STEP 01 Table</div>
                                                                    </v-expansion-panel-header>
                                                                    <v-expansion-panel-content>
                                                                        <v-select class="teboxr" outlined  dense color="blue darken-4"  :messages="['This is the table that you want to populate with data from the CSV file.']" clearable prepend-icon="mdi-checkbox-multiple-marked-outline" v-model="tableData" label="Table" :items="Table"  required ></v-select>
                                                                    </v-expansion-panel-content>
                                                                </v-expansion-panel>

                                                                <v-expansion-panel>
                                                                    <v-expansion-panel-header>
                                                                        <div style="font-size:14px;font-family: Segoe UI !important;">STEP 02: Upload a CSV file or open an existing one</div>
                                                                    </v-expansion-panel-header>
                                                                    <v-expansion-panel-content>
                                                                        <v-file-input chips  class="teboxr" outlined  dense color="blue darken-4" label="Choose CSV file to upload"></v-file-input>
                                                                    </v-expansion-panel-content>
                                                                </v-expansion-panel>
                                                            </v-expansion-panels>


                                                            <v-app-bar color="white" flat dense >
                                                                <v-spacer></v-spacer>
                                                                <v-btn small color="red darken-1"  tile dark>
                                                                    <v-icon small color="white">mdi-delete-circle-outline</v-icon>&nbsp;Reset
                                                                </v-btn>

                                                                <v-btn small color="primary" tile dark class="ml-4">
                                                                    <v-icon small>mdi-table-edit</v-icon>&nbsp;Save changes
                                                                </v-btn>
                                                            </v-app-bar>
                                                        </v-col>
                                                    </v-row>
                                                </v-form>
                                            </v-container>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-card-text>

                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>
<script>
    import { mapState } from "vuex";
    import AppBar from "./AppBar.vue";
    export default {
        name: "ImportCSV",
        components: {
            AppBar,
        },
        data() {
            return {
                panel: [0, 1],
                itemsPerPage: 4,
                drawer: false,
                group: null,
                tab: null,
                dialogBillInfo: false,
                dialogPickUpInfo: false,
                insertCheck: true,
                searchGroup: '',
                GroupType:['Agent', 'Customer', 'Admin', 'Retailer'],

                headersGroup: [
                    { text: 'Table', value: 'Table' },
                    { text: 'Insert', value: 'Insert' },
                    { text: 'View', value: 'View' },
                    { text: 'Edit', value: 'Edit' },
                    { text: 'Delete', value: 'Delete' },
                ],
                Group: [
                    {
                        Table: 'Admins',
                    },
                    {
                        Table: 'Retailers',
                    },
                ],

            };
        },
        computed: {
            ...mapState({
                gmap: (state) => state.gmap,
                httpheader: (state) => state.httpheader,
                selectedLocation: (state) => state.selectedLocation,
                farmers: (state) => state.farmers,
            }),

            onMapClick() {
                return store.state.selectedLocation;
            },
        },
        created() {

        },
        methods: {

        },
        watch: {

        },
    };
</script>