<template>
    <v-app id="app">
        <AppBar/>
        <v-main>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-card elevation="2" tile>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12" md="12">
                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">IP BLOCKER</v-toolbar-title>
                                        </v-toolbar>

                                        <v-sheet elevation="2"  color="grey lighten-3"  style="padding:12px 12px 12px 12px;font-family: Segoe UI !important;font-size: 12px;">
                                            This feature will allow you to block a range of IP addresses to prevent them
                                            from accessing the site. You can also enter a fully qualified domain name,
                                            and the IP Deny Manager will attempt to resolve it to an IP address for you.
                                        </v-sheet><br>


                                        <v-card tile solo dense>
                                            <v-container fluid>
                                                <v-form ref="form"  lazy-validation>
                                                    <v-row>
                                                        <v-col  cols="12" md="12">
                                                            <br>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi mdi-email-outline" clearable v-model="IPD" label="IP Address or Domain" required></v-text-field>
                                                            <hr>
                                                            <br>
                                                            <v-sheet elevation="2"  color="grey lighten-3"  style="padding:12px 12px 12px 12px;font-family: Segoe UI !important;font-size: 12px;">
                                                                Note: You can specify denied IP addresses in the following formats:<br><br>
                                                                <v-list dense>
                                                                    <v-list-item-group>
                                                                        <v-list-item>
                                                                            Single IP Address -
                                                                            192.168.0.1
                                                                            2001:db8::1
                                                                        </v-list-item>
                                                                        <v-list-item>
                                                                            Range -
                                                                            192.168.0.1-192.168.0.40
                                                                            2001:db8::1-2001:db8::3
                                                                        </v-list-item>
                                                                        <v-list-item>
                                                                            Implied Range -
                                                                            192.168.0.1-40
                                                                        </v-list-item>
                                                                        <v-list-item>
                                                                            Implies - 192.*.*.*
                                                                            192.
                                                                        </v-list-item>
                                                                    </v-list-item-group>
                                                                </v-list>
                                                            </v-sheet>



                                                            <v-app-bar color="white" flat dense >
                                                                <v-spacer></v-spacer>
                                                                <v-btn small color="red darken-1"  tile dark>
                                                                    <v-icon small color="white">mdi-delete-circle-outline</v-icon>&nbsp;Reset
                                                                </v-btn>

                                                                <v-btn small color="primary" tile dark class="ml-4">
                                                                    <v-icon small>mdi-table-edit</v-icon>&nbsp;Add
                                                                </v-btn>
                                                            </v-app-bar>
                                                        </v-col>
                                                    </v-row>
                                                </v-form>
                                            </v-container>
                                        </v-card><br><br>


                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">CURRENTLY-BLOCKED IP ADDRESSES</v-toolbar-title>
                                        </v-toolbar>

                                        <v-sheet elevation="2"  color="grey lighten-3"  style="padding:12px 12px 12px 12px;font-family: Segoe UI !important;font-size: 12px;">
                                            This feature lets you know about blocked IP details.
                                        </v-sheet><br>


                                        <v-card tile solo dense>
                                            <v-container fluid>
                                                <v-data-table :headers="headersGroup" :items="Group" :search="search">
                                                    <template v-slot:item.Delete="{ item }">
                                                        <v-btn tile small dark color="red">
                                                            <v-icon small>mdi mdi-delete-variant</v-icon>&nbsp; Delete
                                                        </v-btn>
                                                    </template>

                                                    <template v-slot:item.ActiveD="{ item }">
                                                        <v-btn tile small dark color="lime darken-4">
                                                            <v-icon small>mdi mdi-account-check</v-icon>&nbsp; Active
                                                        </v-btn>
                                                    </template>
                                                </v-data-table>
                                            </v-container>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-card-text>

                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>
<script>
    import { mapState } from "vuex";
    import AppBar from "./AppBar.vue";
    export default {
        name: "manageAPITokens",
        components: {
            AppBar,
        },
        data() {
            return {
                itemsPerPage: 4,
                drawer: false,
                group: null,
                tab: null,
                dialogBillInfo: false,
                dialogPickUpInfo: false,
                insertCheck: true,
                searchGroup: '',
                GroupType:['Agent', 'Customer', 'Admin', 'Retailer'],

                headersGroup: [
                    { text: 'IP name', value: 'IP' },
                    { text: 'Blocked date', value: 'BlockedDate' },
                    { text: 'Reason', value: 'Reason' },
                    { text: 'Delete', value: 'Delete' },
                ],
                Group: [
                    {
                        IP: '192.168.0.1',
                        BlockedDate:'2021-05-08',
                        Reason:'Security reason',

                    },
                    {
                        IP: '141.28.84.173',
                        BlockedDate:'2021-01-02',
                        Reason:'Security reason',
                    },
                    {
                        IP: '160.62.8.164',
                        BlockedDate:'2020-12-23',
                        Reason:'Security reason',
                    },
                ],

            };
        },
        computed: {
            ...mapState({
                gmap: (state) => state.gmap,
                httpheader: (state) => state.httpheader,
                selectedLocation: (state) => state.selectedLocation,
                farmers: (state) => state.farmers,
            }),

            onMapClick() {
                return store.state.selectedLocation;
            },
        },
        created() {

        },
        methods: {

        },
        watch: {

        },
    };
</script>