<template>
    <v-app id="app">
        <AppBar/>
        <v-main>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-card elevation="2" tile>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12" md="12">
                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">CREATE AN EMAIL ACCOUNT</v-toolbar-title>
                                        </v-toolbar>
                                        <v-sheet elevation="2"  color="grey lighten-3"  style="padding:12px 12px 12px 12px;font-family: Segoe UI !important;font-size: 12px;">
                                            This feature lets you create and manage email accounts.
                                        </v-sheet><br>

                                        <v-card tile solo dense>
                                            <v-container fluid>
                                                <v-form ref="form"  lazy-validation>
                                                    <v-row>
                                                        <v-col  cols="12" md="12">
                                                            <br>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi mdi-email-outline" clearable v-model="username" label="Username" required></v-text-field>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi mdi-email-outline" clearable  label="Password"  v-model="Password"></v-text-field>
                                                            <v-select class="teboxr" outlined  dense color="blue darken-4"  :messages="['Select application, you want to create an email account']" clearable prepend-icon="mdi-checkbox-multiple-marked-outline" v-model="Selectapplication" label="Select application" :items="['Agrobizz','Geobizz']" required ></v-select>


                                                            <v-app-bar color="white" flat dense >
                                                                <v-spacer></v-spacer>
                                                                <v-btn small color="red darken-1"  tile dark>
                                                                    <v-icon small color="white">mdi-delete-circle-outline</v-icon>&nbsp;Reset
                                                                </v-btn>

                                                                <v-btn small color="primary" tile dark class="ml-4">
                                                                    <v-icon small>mdi-table-edit</v-icon>&nbsp;Send message
                                                                </v-btn>
                                                            </v-app-bar>
                                                        </v-col>
                                                    </v-row>
                                                </v-form>
                                            </v-container>
                                        </v-card><br><br>


                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">CREATED ACCOUNTS</v-toolbar-title>
                                        </v-toolbar>

                                        <v-sheet elevation="2"  color="grey lighten-3"  style="padding:12px 12px 12px 12px;font-family: Segoe UI !important;font-size: 12px;">
                                            This feature lets you manage created e-mail accounts for Geobizz or Agrobizz applications.
                                        </v-sheet><br>


                                        <v-card tile solo dense>
                                            <v-container fluid>
                                                <v-data-table :headers="headersEmailaccounts" :items="emailaccounts" :search="searchemailaccounts">
                                                    <template v-slot:item.Connected="{ item }">
                                                        <v-btn tile small dark color="lime darken-4">
                                                            <v-icon small>mdi mdi-account-check</v-icon>&nbsp; Connected devices
                                                        </v-btn>
                                                    </template>
                                                    <template v-slot:item.Delete="{ item }">
                                                        <v-btn tile small dark color="red">
                                                            <v-icon small>mdi mdi-delete-variant</v-icon>&nbsp; Delete
                                                        </v-btn>
                                                    </template>

                                                </v-data-table>
                                            </v-container>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-card-text>

                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>
<script>
    import { mapState } from "vuex";
    import AppBar from "./AppBar.vue";
    export default {
        name: "mailAccounts",
        components: {
            AppBar,
        },
        data() {
            return {
                itemsPerPage: 4,
                drawer: false,
                group: null,
                tab: null,
                dialogBillInfo: false,
                dialogPickUpInfo: false,
                insertCheck: true,
                searchemailaccounts: '',

                headersEmailaccounts: [
                    { text: 'Account name', value: 'Account' },
                    { text: 'Restrictions', value: 'Restrictions' },
                    { text: 'Genarated date', value: 'GenaratedDate' },
                    { text: 'Application', value: 'Application' },
                    { text: 'Connected devices', value: 'Connected' },
                    { text: 'Delete', value: 'Delete' },
                ],
                emailaccounts: [
                    {
                        Account: 'lahiru@celatatech.com',
                        Restrictions:'Suspend',
                        GenaratedDate:'2021-05-08',
                        Application:'Geobizz',
                    },
                    {
                        Account: 'giswam@celatatech.com',
                        Restrictions:'Allow',
                        GenaratedDate:'2021-01-02',
                        Application:'Agrobizz',
                    },
                    {
                        Account: 'rasika@celatatech.com',
                        Restrictions:'Hold',
                        GenaratedDate:'2020-12-23',
                        Application:'Agrobizz',
                    },
                ],

            };
        },
        computed: {
            ...mapState({
                gmap: (state) => state.gmap,
                httpheader: (state) => state.httpheader,
                selectedLocation: (state) => state.selectedLocation,
                farmers: (state) => state.farmers,
            }),

            onMapClick() {
                return store.state.selectedLocation;
            },
        },
        created() {

        },
        methods: {

        },
        watch: {

        },
    };
</script>