<template>
    <v-app id="app">
        <AppBar/>
        <v-main>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-card elevation="2" tile>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12" md="12">
                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">GENARATED API TOKENS</v-toolbar-title>
                                        </v-toolbar>

                                        <v-sheet elevation="2"  color="grey lighten-3"  style="padding:12px 12px 12px 12px;font-family: Segoe UI !important;font-size: 12px;">
                                            This feature lets you delete, active or deactive and manage API tokens for Geobizz or Agrobizz applications.
                                        </v-sheet><br>


                                        <v-card tile solo dense>
                                            <v-container fluid>
                                                <v-form ref="form"  lazy-validation>
                                                    <v-row>
                                                        <v-col  cols="12" md="12">
                                                            <br>
                                                            <v-text-field class="teboxr" outlined messages="API token names can be alpha-numeric and can contain dashes and underscores."  dense color="blue darken-4" prepend-icon="mdi mdi-email-outline" clearable v-model="ApiTokenName" label="API token name" required></v-text-field>
                                                            <br>
                                                            <hr>
                                                            <br>
                                                            <template >
                                                                <div style="font-size:14px;font-family: Segoe UI !important;">Should the API Token Expire ?</div>
                                                            </template><br>
                                                            <v-sheet elevation="0"  color="white"  style="padding:1px 1px 1px 1px;font-family: Segoe UI !important;font-size: 12px;">
                                                                Specify whether the API token will expire on a specific date.
                                                            </v-sheet>

                                                            <v-radio-group v-model="column" column>
                                                                <v-radio label="The API Token will not expire." value="radio-1"></v-radio>
                                                                <v-radio label="Specify an expiration date." value="radio-2"></v-radio>
                                                            </v-radio-group>
                                                            <hr><br>

                                                            <v-app-bar color="white" flat dense >
                                                                <v-spacer></v-spacer>
                                                                <v-btn small color="red darken-1"  tile dark>
                                                                    <v-icon small color="white">mdi-delete-circle-outline</v-icon>&nbsp;Reset
                                                                </v-btn>

                                                                <v-btn small color="primary" tile dark class="ml-4">
                                                                    <v-icon small>mdi-table-edit</v-icon>&nbsp;Create
                                                                </v-btn>
                                                            </v-app-bar>
                                                        </v-col>
                                                    </v-row>
                                                </v-form>
                                            </v-container>
                                        </v-card><br><br>


                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">MANAGE API TOKENS</v-toolbar-title>
                                        </v-toolbar>

                                        <v-sheet elevation="2"  color="grey lighten-3"  style="padding:12px 12px 12px 12px;font-family: Segoe UI !important;font-size: 12px;">
                                            This feature lets you create and manage API tokens for Geobizz or Agrobizz applications.
                                        </v-sheet><br>


                                        <v-card tile solo dense>
                                            <v-container fluid>
                                                <v-data-table :headers="headersGroup" :items="Group" :search="search">
                                                    <template v-slot:item.Delete="{ item }">
                                                        <v-btn tile small dark color="red">
                                                            <v-icon small>mdi mdi-delete-variant</v-icon>&nbsp; Delete
                                                        </v-btn>
                                                    </template>

                                                    <template v-slot:item.ActiveD="{ item }">
                                                        <v-btn tile small dark color="lime darken-4">
                                                            <v-icon small>mdi mdi-account-check</v-icon>&nbsp; Active
                                                        </v-btn>
                                                    </template>
                                                </v-data-table>
                                            </v-container>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-card-text>

                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>
<script>
    import { mapState } from "vuex";
    import AppBar from "./AppBar.vue";
    export default {
        name: "manageAPITokens",
        components: {
            AppBar,
        },
        data() {
            return {
                itemsPerPage: 4,
                drawer: false,
                group: null,
                tab: null,
                dialogBillInfo: false,
                dialogPickUpInfo: false,
                insertCheck: true,
                searchGroup: '',
                GroupType:['Agent', 'Customer', 'Admin', 'Retailer'],

                headersGroup: [
                    { text: 'API name', value: 'API' },
                    { text: 'Genarated date', value: 'GenaratedDate' },
                    { text: 'Active/Deactive', value: 'ActiveD' },
                    { text: 'Delete', value: 'Delete' },
                ],
                Group: [
                    {
                        API: 'ap1igg-3224-242355-4324111',
                        GenaratedDate:'2021-05-08',
                        ActiveD:'Active',

                    },
                    {
                        API: '2p324-1224-24227889355-4324',
                        GenaratedDate:'2021-01-02',
                        ActiveD:'Deactive',
                    },
                    {
                        API: 'a1geo-1224-2290042355-45624',
                        GenaratedDate:'2020-12-23',
                        ActiveD:'Active',
                    },
                ],

            };
        },
        computed: {
            ...mapState({
                gmap: (state) => state.gmap,
                httpheader: (state) => state.httpheader,
                selectedLocation: (state) => state.selectedLocation,
                farmers: (state) => state.farmers,
            }),

            onMapClick() {
                return store.state.selectedLocation;
            },
        },
        created() {

        },
        methods: {

        },
        watch: {

        },
    };
</script>