<template>
    <v-app id="app">
        <AppBar/>
        <v-main>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-card elevation="2" tile>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12" md="12">
                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">NOTIFICATION MANAGEMENT</v-toolbar-title>
                                        </v-toolbar>

                                        <v-card tile solo dense>
                                            <v-container fluid>
                                                <v-form ref="form"  lazy-validation>
                                                    <v-row>
                                                        <v-col  cols="12" md="12">
                                                            <br>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi mdi-email-outline" clearable v-model="DateFrom" label="Date from" required></v-text-field>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi mdi-email-outline" clearable  label="Date to"  v-model="Dateto"></v-text-field>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi mdi-lock" clearable  label="Subject"   v-model="Subject"></v-text-field>
                                                            <v-textarea class="teboxr"  rows="2" outlined  dense color="blue darken-4" prepend-icon="mdi mdi-folder-move" clearable v-model="Message" label="Message" required ></v-textarea>


                                                            <v-app-bar color="white" flat dense >
                                                                <v-spacer></v-spacer>
                                                                <v-btn small color="red darken-1"  tile dark>
                                                                    <v-icon small color="white">mdi-delete-circle-outline</v-icon>&nbsp;Reset
                                                                </v-btn>

                                                                <v-btn small color="primary" tile dark class="ml-4">
                                                                    <v-icon small>mdi-table-edit</v-icon>&nbsp;Publish
                                                                </v-btn>
                                                            </v-app-bar>
                                                        </v-col>
                                                    </v-row>
                                                </v-form>
                                            </v-container>
                                        </v-card><br><br>


                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">CURRENT NOTIFICATIONS</v-toolbar-title>
                                        </v-toolbar>

                                        <v-sheet elevation="2"  color="grey lighten-3"  style="padding:12px 12px 12px 12px;font-family: Segoe UI !important;font-size: 12px;">
                                            This feature lets you know about all current notifications.
                                        </v-sheet><br>


                                        <v-card tile solo dense>
                                            <v-container fluid>
                                                <v-data-table :headers="headersGroup" :items="Group" :search="search">
                                                    <template v-slot:item.View="{ item }">
                                                        <v-btn tile small dark color="lime darken-4">
                                                            <v-icon small>mdi mdi-account-check</v-icon>&nbsp; View
                                                        </v-btn>
                                                    </template>

                                                    <template v-slot:item.Edit="{ item }">
                                                        <v-btn tile small dark color="blue darken-4">
                                                            <v-icon small>mdi mdi-account-check</v-icon>&nbsp; Edit
                                                        </v-btn>
                                                    </template>
                                                    <template v-slot:item.Delete="{ item }">
                                                        <v-btn tile small dark color="red">
                                                            <v-icon small>mdi mdi-delete-variant</v-icon>&nbsp; Delete
                                                        </v-btn>
                                                    </template>
                                                </v-data-table>
                                            </v-container>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>
<script>
    import { mapState } from "vuex";
    import AppBar from "./AppBar.vue";
    export default {
        name: "noticeManagement",
        components: {
            AppBar,
        },
        data() {
            return {
                itemsPerPage: 4,
                drawer: false,
                group: null,
                tab: null,
                dialogBillInfo: false,
                dialogPickUpInfo: false,
                insertCheck: true,
                searchGroup: '',
                GroupType:['Agent', 'Customer', 'Admin', 'Retailer'],

                headersGroup: [
                    { text: 'Notification related field', value: 'Notifications' },
                    { text: 'Date from', value: 'DateFrom' },
                    { text: 'Date to', value: 'DateTrom' },
                    { text: 'Subject', value: 'Subject' },
                    { text: 'View', value: 'View' },
                    { text: 'Edit', value: 'Edit' },
                    { text: 'Delete', value: 'Delete' },
                ],
                Group: [
                    {
                        Notifications: 'Agrobizz',
                        DateFrom:'2021-05-08',
                        DateTrom:'2021-06-08',
                        Subject:'Agrobizz version update',
                    },
                    {
                        Notifications: 'Geobizz',
                        DateFrom:'2021-01-02',
                        DateTrom:'2021-11-04',
                        Subject:'Geobizz database update',
                    },
                    {
                        Notifications: 'Agrobizz',
                        DateFrom:'2020-12-23',
                        DateTrom:'2021-04-13',
                        Subject:'Agrobizz trading platform update',
                    },
                ],

            };
        },
        computed: {
            ...mapState({
                gmap: (state) => state.gmap,
                httpheader: (state) => state.httpheader,
                selectedLocation: (state) => state.selectedLocation,
                farmers: (state) => state.farmers,
            }),

            onMapClick() {
                return store.state.selectedLocation;
            },
        },
        created() {

        },
        methods: {

        },
        watch: {

        },
    };
</script>