<template>
    <v-app id="app">
        <AppBar/>
        <v-main>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-card elevation="2" tile>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12" md="12">
                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">ADD NEW GROUP</v-toolbar-title>
                                            <v-spacer></v-spacer>
                                            <v-btn :to="{ name: 'pageViewGroups' }" style="font-family: Segoe UI !important;" tile small dark color="primary">
                                                <v-icon x-small>mdi mdi-backburger</v-icon>&nbsp;
                                                Back to groups
                                            </v-btn>
                                        </v-toolbar>

                                        <v-card tile solo dense>
                                            <v-container fluid>
                                                <v-form ref="form"  lazy-validation>
                                                    <v-row>
                                                        <v-col  cols="12" md="5">
                                                            <br>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi-checkbox-multiple-marked-outline" clearable v-model="Groupname" label="Group name" required></v-text-field>
                                                            <v-textarea class="teboxr"  rows="2" outlined  dense color="blue darken-4" prepend-icon="mdi mdi-folder-move" clearable v-model="Discription" label="Discription" required ></v-textarea>

                                                            <hr><br>
                                                            <template >
                                                                <div style="font-size:14px;font-family: Segoe UI !important;">Allow visitors to sign up ?</div>
                                                            </template>

                                                            <v-radio-group v-model="column" column>
                                                                <v-radio label="No. Only the admin can add users." value="radio-1"></v-radio>
                                                                <v-radio label="Yes, and the admin must approve them." value="radio-2"></v-radio>
                                                                <v-radio label="Yes, and automatically approve them." value="radio-3"></v-radio>
                                                            </v-radio-group>
                                                            <hr><br>
                                                            <v-app-bar color="white" flat dense >
                                                                <v-spacer></v-spacer>
                                                                <v-btn small color="red darken-1"  tile dark>
                                                                    <v-icon small color="white">mdi-delete-circle-outline</v-icon>&nbsp;Reset
                                                                </v-btn>

                                                                <v-btn small color="primary" tile dark class="ml-4">
                                                                    <v-icon small>mdi-table-edit</v-icon>&nbsp;Save changes
                                                                </v-btn>
                                                            </v-app-bar>
                                                        </v-col>

                                                        <v-col cols="12" md="7">
                                                            <v-card-title>
                                                                <v-app-bar color="white" dense >
                                                                    <v-btn  style="font-family: Segoe UI !important;" tile small dark color="red">
                                                                        <v-icon x-small>mdi mdi-account-key</v-icon>&nbsp;
                                                                        Table permissions for this group
                                                                    </v-btn>&nbsp;
                                                                    <v-spacer></v-spacer>
                                                                    <v-text-field v-model="searchGroup" append-icon="mdi-magnify" label="Search" single-line hide-details></v-text-field>
                                                                </v-app-bar>
                                                            </v-card-title>
                                                            <v-data-table :headers="headersGroup" :items="Group" :search="search">
                                                                <template v-slot:item.Insert="{ item }">
                                                                    <v-switch v-model="insertCheck" color="primary"  hide-details></v-switch>
                                                                </template>

                                                                <template v-slot:item.View="{ item }">
                                                                    <v-radio-group v-model="columnView" column>
                                                                        <v-radio label="No" value="No"></v-radio>
                                                                        <v-radio label="Owner" value="Owner"></v-radio>
                                                                        <v-radio label="Group" value="Group"></v-radio>
                                                                        <v-radio label="All" value="All"></v-radio>
                                                                    </v-radio-group>
                                                                </template>

                                                                <template v-slot:item.Edit="{ item }">
                                                                    <v-radio-group v-model="columnEdit" column>
                                                                        <v-radio label="No" value="No"></v-radio>
                                                                        <v-radio label="Owner" value="Owner"></v-radio>
                                                                        <v-radio label="Group" value="Group"></v-radio>
                                                                        <v-radio label="All" value="All"></v-radio>
                                                                    </v-radio-group>
                                                                </template>

                                                                <template v-slot:item.Delete="{ item }">
                                                                    <v-radio-group v-model="columnDelete" column>
                                                                        <v-radio label="No" value="No"></v-radio>
                                                                        <v-radio label="Owner" value="Owner"></v-radio>
                                                                        <v-radio label="Group" value="Group"></v-radio>
                                                                        <v-radio label="All" value="All"></v-radio>
                                                                    </v-radio-group>
                                                                </template>
                                                            </v-data-table>
                                                        </v-col>
                                                    </v-row>
                                                </v-form>
                                            </v-container>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-card-text>

                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>
<script>
    import { mapState } from "vuex";
    import AppBar from "./AppBar.vue";
    export default {
        name: "pageEditGroup",
        components: {
            AppBar,
        },
        data() {
            return {
                itemsPerPage: 4,
                drawer: false,
                group: null,
                tab: null,
                dialogBillInfo: false,
                dialogPickUpInfo: false,
                insertCheck: true,
                searchGroup: '',

                headersGroup: [
                    { text: 'Table', value: 'Table' },
                    { text: 'Insert', value: 'Insert' },
                    { text: 'View', value: 'View' },
                    { text: 'Edit', value: 'Edit' },
                    { text: 'Delete', value: 'Delete' },
                ],
                Group: [
                    {
                        Table: 'Admins',
                    },
                    {
                        Table: 'Retailers',
                    },
                ],

            };
        },
        computed: {
            ...mapState({
                gmap: (state) => state.gmap,
                httpheader: (state) => state.httpheader,
                selectedLocation: (state) => state.selectedLocation,
                farmers: (state) => state.farmers,
            }),

            onMapClick() {
                return store.state.selectedLocation;
            },
        },
        created() {

        },
        methods: {

        },
        watch: {

        },
    };
</script>