<template>
    <v-app id="app">
        <AppBar/>
        <v-main>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-card elevation="2" tile>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12" md="12">
                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">USER DATA RECORDS (VIEW LOGS)</v-toolbar-title>
                                        </v-toolbar>

                                        <v-row>
                                            <v-col cols="12" md="12">
                                                <v-card tile solo dense class="mt-6">
                                                    <v-container fluid>
                                                        <v-card-title>
                                                            <v-app-bar color="white" dense >
                                                                <v-text-field class="teboxr" v-model="MemberUsername" append-icon="mdi-magnify" label="Member username" single-line hide-details></v-text-field>
                                                                <v-spacer></v-spacer>
                                                                <v-select class="teboxr" single-line hide-details   color="blue darken-4" clearable prepend-icon="mdi-checkbox-multiple-marked-outline" v-model="GroupType" label="Group" :items="GroupType"  required ></v-select>
                                                                <v-spacer></v-spacer>
                                                                <v-select class="teboxr" single-line hide-details   color="blue darken-4" clearable prepend-icon="mdi-checkbox-multiple-marked-outline" v-model="Showrecords" label="Show records from" :items="StatusType"  required ></v-select>
                                                                <v-spacer></v-spacer>
                                                                <v-select class="teboxr" single-line hide-details   color="blue darken-4" clearable prepend-icon="mdi-checkbox-multiple-marked-outline" v-model="Sortrecordsby" label="Sort records by" :items="GroupType"  required ></v-select>
                                                                <v-spacer></v-spacer>
                                                                <v-btn tile small dark color="primary">
                                                                    <v-icon small>mdi-magnify</v-icon>&nbsp; Find
                                                                </v-btn>
                                                                <v-spacer></v-spacer>
                                                                <v-btn tile small dark color="red">
                                                                    <v-icon small>mdi mdi-close-box</v-icon>&nbsp; Reset
                                                                </v-btn>
                                                                <v-spacer></v-spacer>
                                                                <v-btn tile small dark color="warning">
                                                                    <v-icon small>mdi-application-export</v-icon>&nbsp; Export
                                                                </v-btn>
                                                            </v-app-bar>
                                                        </v-card-title>
                                                        <v-data-table :headers="headersData" :items="DataRecord" :search="search">

                                                            <template v-slot:item.View="{ item }">
                                                                <v-btn tile small dark color="lime darken-4">
                                                                    <v-icon small>mdi mdi-account-check</v-icon>&nbsp; View
                                                                </v-btn>
                                                            </template>

                                                            <template v-slot:item.Edit="{ item }">
                                                                <v-btn tile small dark color="teal darken-4">
                                                                    <v-icon small>mdi mdi-pen</v-icon>&nbsp; Edit
                                                                </v-btn>
                                                            </template>
                                                            <template v-slot:item.Delete="{ item }">
                                                                <v-btn tile small dark color="red">
                                                                    <v-icon small>mdi mdi-delete-variant</v-icon>&nbsp; Delete
                                                                </v-btn>
                                                            </template>
                                                        </v-data-table>
                                                    </v-container>
                                                </v-card>
                                            </v-col>
                                        </v-row>

                                    </v-col>
                                </v-row>
                            </v-card-text>

                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    import { mapState } from "vuex";
    import AppBar from "./AppBar.vue";
    export default {
        name: "pageViewRecords",
        components: {
            AppBar,
        },
        data() {
            return {
                itemsPerPage: 4,
                drawer: false,
                group: null,
                tab: null,
                dialogBillInfo: false,
                dialogPickUpInfo: false,

                searchData: '',

                headersData: [
                    { text: 'Username', value: 'Username' },
                    { text: 'Group', value: 'Group' },
                    { text: 'Table', value: 'Table' },
                    { text: 'Created', value: 'Created' },
                    { text: 'Modified', value: 'Modified' },
                    { text: 'Data', value: 'Data' },
                    { text: 'View', value: 'View' },
                    { text: 'Edit', value: 'Edit' },
                    { text: 'Delete', value: 'Delete' },
                ],
                DataRecord: [
                    {
                        Username: 'admin',
                        Group: 'Admins',
                        Table:'streams',
                        Created:'05/02/2018, 07:08 pm',
                        Modified:'09/11/2021, 05:00 pm',
                        Data:'Bootcamp, 2018-07-30, Lorem ipsum dolor sit amet, consectetur adipiscing elit ...',

                    },
                    {
                        Username: 'admin',
                        Group: 'Admins',
                        Table:'notices',
                        Created:'07/30/2018, 03:23 pm',
                        Modified:'07/30/2018, 03:23 pm',
                        Data:'Bootcamp, 2018-07-30, Lorem ipsum dolor sit amet, consectetur adipiscing elit ...',
                    },
                    {
                        Username: 'admin',
                        Group: 'Admins',
                        Table:'events',
                        Created:'07/30/2018, 12:09 pm',
                        Modified:'07/30/2018, 12:09 pm',
                        Data:'Bootcamp, 2018-07-30, Lorem ipsum dolor sit amet, consectetur adipiscing elit ...',
                    },
                    {
                        Username: 'admin',
                        Group: 'Admins',
                        Table:'streams',
                        Created:'07/30/2018, 03:23 pm',
                        Modified:'07/30/2018, 03:23 pm',
                        Data:'Bootcamp, 2018-07-30, Lorem ipsum dolor sit amet, consectetur adipiscing elit ...',
                    },
                ],

            };
        },
        computed: {
            ...mapState({
                gmap: state => state.gmap,
                httpheader: state => state.httpheader,
                pageloading: state => state.pageloading,
                appBarTitle: state => state.appBarTitle,
            }),
            pageLoadingProgress(){
                return store.state.pageloading;
            },
            user(){
                return store.state.httpheader.user;
            },
            title(){
                return store.state.appBarTitle;
            }
        },
        watch: {
            $route(to, from) {
                let lastURL = to.path.substring(
                    to.path.lastIndexOf("/") + 1
                );
                if(lastURL === 'admin'){
                    this.atHome = true;
                }else{
                    this.atHome = false;
                }
            }
        },
        created(){
            let laravel = JSON.parse(window.Laravel);

            if(laravel.user){
                this.user = laravel.user;
                if(this.user.showHint === 'true'){
                    this.hintDialog = true;
                }
                const header = {
                    'X-CSRF-TOKEN': laravel.csrfToken,
                    'X-Requested-With': 'XMLHttpRequest'
                };
                let payload = {
                    header: header,
                    user:laravel.user
                };
                store.commit('setHttpHeader',payload);
            }else{
                this.logout();
            }


            let lastURL = this.$route.path.substring(
                this.$route.path.lastIndexOf("/") + 1
            );
            if(lastURL === 'admin'){
                this.atHome = true;
            }
        },
        methods:{
            logout(){
                window.setLogout();
            },
            goBack(){
                this.$router.back();
            },

            gotoMap(){
                window.location.href = '/login';
            }
        }
    };
</script>