<template>
    <v-app id="app">
        <AppBar/>
        <v-main>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-card elevation="2" tile>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12" md="12">
                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">GROUPS</v-toolbar-title>
                                        </v-toolbar>

                                        <v-row>
                                            <v-col cols="12" md="12">
                                                <v-card tile solo dense class="mt-6">
                                                    <v-container fluid>
                                                        <v-card-title>
                                                            <v-app-bar color="white" dense >
                                                                <v-text-field v-model="searchGroup" append-icon="mdi-magnify" label="Search" single-line hide-details></v-text-field>
                                                                <v-spacer></v-spacer>
                                                                <v-spacer></v-spacer>
                                                                <v-btn :to="{ name: 'pageEditGroup' }" tile style="font-family: Segoe UI !important;font-weight: 600 !important;font-size: 12px !important;" small dark color="red">
                                                                    <v-icon x-small>mdi mdi-account-key</v-icon>&nbsp;Add New Group
                                                                </v-btn>&nbsp;&nbsp;
                                                                <v-btn tile small dark color="warning">
                                                                    <v-icon small>mdi-application-export</v-icon>&nbsp; Export
                                                                </v-btn>
                                                            </v-app-bar>
                                                        </v-card-title>
                                                        <v-data-table :headers="headersGroup" :items="Group" :search="search">
                                                            <template v-slot:item.Editgroup="{ item }">
                                                                <v-btn :to="{ name: 'pageEditGroup' }" tile small dark color="teal darken-4">
                                                                    <v-icon small>mdi mdi-pen</v-icon>&nbsp; Edit
                                                                </v-btn>
                                                            </template>
                                                            <template v-slot:item.Deletegroup="{ item }">
                                                                <v-btn tile small dark color="red">
                                                                    <v-icon small>mdi mdi-delete-variant</v-icon>&nbsp; Delete
                                                                </v-btn>
                                                            </template>

                                                            <template v-slot:item.AddMemberGroup="{ item }">
                                                                <v-btn :to="{ name: 'pageEditMember' }" tile small dark color="lime darken-4">
                                                                    <v-icon small>mdi mdi-account-check</v-icon>&nbsp; Add user to group
                                                                </v-btn>
                                                            </template>

                                                            <template v-slot:item.ListAllMembers="{ item }">
                                                                <v-btn tile small dark color="light-blue accent-4">
                                                                    <v-icon small>mdi mdi-account-multiple</v-icon>&nbsp; List all users
                                                                </v-btn>
                                                            </template>

                                                            <template v-slot:item.Email="{ item }">
                                                                <v-btn :to="{ name: 'sendEmail' }" tile small dark color="grey darken-3">
                                                                    <v-icon small>mdi-email-edit-outline</v-icon>&nbsp; Email
                                                                </v-btn>
                                                            </template>
                                                        </v-data-table>
                                                    </v-container>
                                                </v-card>
                                            </v-col>
                                        </v-row>

                                    </v-col>
                                </v-row>
                            </v-card-text>

                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>
<script>
    import { mapState } from "vuex";
    import AppBar from "./AppBar.vue";
    export default {
        name: "pageViewGroups",
        components: {
            AppBar,
        },
        data() {
            return {
                itemsPerPage: 4,
                drawer: false,
                group: null,
                tab: null,
                dialogBillInfo: false,
                dialogPickUpInfo: false,

                searchGroup: '',

                headersGroup: [
                    { text: 'Group name', value: 'Name' },
                    { text: 'Description', value: 'Description' },
                    { text: 'Members count', value: 'MembersCount' },
                    { text: 'Editg group', value: 'Editgroup' },
                    { text: 'Delete group', value: 'Deletegroup' },
                    { text: 'Add member to group', value: 'AddMemberGroup' },
                    { text: 'List all members', value: 'ListAllMembers' },
                    { text: 'Email', value: 'Email' },
                ],
                Group: [
                    {
                        Name: 'anonymous',
                        Description: 'Anonymous group created automatically on 2021-05-02',
                        MembersCount:'02',
                    },
                    {
                        Name: 'Admins',
                        Description: 'Admin group created automatically on 2021-10-22',
                        MembersCount:'04',
                    },
                    {
                        Name: 'Retailers',
                        Description: 'Retailers group created automatically on 2021-01-12',
                        MembersCount:'56',
                    },
                    {
                        Name: 'Agents',
                        Description: 'Agents group created automatically on 2021-04-03',
                        MembersCount:'23',
                    },
                ],

            };
        },
        computed: {
            ...mapState({
                gmap: state => state.gmap,
                httpheader: state => state.httpheader,
                pageloading: state => state.pageloading,
                appBarTitle: state => state.appBarTitle,
            }),
            pageLoadingProgress(){
                return store.state.pageloading;
            },
            user(){
                return store.state.httpheader.user;
            },
            title(){
                return store.state.appBarTitle;
            }
        },
        watch: {
            $route(to, from) {
                let lastURL = to.path.substring(
                    to.path.lastIndexOf("/") + 1
                );
                if(lastURL === 'admin'){
                    this.atHome = true;
                }else{
                    this.atHome = false;
                }
            }
        },
        created(){
            let laravel = JSON.parse(window.Laravel);

            if(laravel.user){
                this.user = laravel.user;
                if(this.user.showHint === 'true'){
                    this.hintDialog = true;
                }
                const header = {
                    'X-CSRF-TOKEN': laravel.csrfToken,
                    'X-Requested-With': 'XMLHttpRequest'
                };
                let payload = {
                    header: header,
                    user:laravel.user
                };
                store.commit('setHttpHeader',payload);
            }else{
                this.logout();
            }


            let lastURL = this.$route.path.substring(
                this.$route.path.lastIndexOf("/") + 1
            );
            if(lastURL === 'admin'){
                this.atHome = true;
            }
        },
        methods:{
            logout(){
                window.setLogout();
            },
            goBack(){
                this.$router.back();
            },

            gotoMap(){
                window.location.href = '/login';
            }
        }
    };
</script>