<template>
    <v-app id="app">
        <AppBar/>
        <v-main>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-card elevation="2" tile>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12" md="12">
                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">USER MANAGER</v-toolbar-title>
                                        </v-toolbar>

                                        <v-sheet elevation="2"  color="grey lighten-3"  style="padding:12px 12px 12px 12px;font-family: Segoe UI !important;font-size: 12px;">
                                            This interface allows you to manage accounts. Accounts use the same login
                                            and password information for email, user activation, delete. The system synchronizes the password of each of the account’s allowed services.
                                        </v-sheet>

                                        <v-row>
                                            <v-col cols="12" md="12">
                                                <v-card tile solo dense class="mt-6">
                                                    <v-container fluid>
                                                        <v-card-title>
                                                            <v-app-bar color="white" dense >
                                                               &nbsp
                                                                <v-select class="teboxr" single-line hide-details   color="blue darken-4" clearable prepend-icon="mdi-checkbox-multiple-marked-outline" v-model="StatusType" label="Status" :items="StatusType"  required ></v-select>
                                                                <v-spacer></v-spacer>
                                                                <v-select class="teboxr" single-line hide-details   color="blue darken-4" clearable prepend-icon="mdi-checkbox-multiple-marked-outline" v-model="GroupType" label="Group" :items="GroupType"  required ></v-select>
                                                                <v-spacer></v-spacer>
                                                                <v-text-field class="teboxr" v-model="searchGroup" append-icon="mdi-magnify" label="Search" single-line hide-details></v-text-field>
                                                                <v-spacer></v-spacer>

                                                                <v-btn :to="{ name: 'pageEditMember' }" tile style="font-family: Segoe UI !important;font-weight: 600 !important;font-size: 12px !important;" small dark color="red">
                                                                    <v-icon x-small>mdi mdi-account-key</v-icon>&nbsp;Add New User
                                                                </v-btn>&nbsp;&nbsp;
                                                                <v-btn tile small dark color="warning">
                                                                    <v-icon small>mdi-application-export</v-icon>&nbsp; Export
                                                                </v-btn>
                                                            </v-app-bar>
                                                        </v-card-title>
                                                        <v-data-table :headers="headersGroup" :items="Group" :search="search">
                                                            <template v-slot:item.Editmember="{ item }">
                                                                <v-btn :to="{ name: 'pageEditMember' }" tile small dark color="teal darken-4">
                                                                    <v-icon small>mdi mdi-pen</v-icon>&nbsp; Edit
                                                                </v-btn>
                                                            </template>
                                                            <template v-slot:item.Deletemember="{ item }">
                                                                <v-btn tile small dark color="red">
                                                                    <v-icon small>mdi mdi-delete-variant</v-icon>&nbsp; Delete
                                                                </v-btn>
                                                            </template>

                                                            <template v-slot:item.ActiveOrBand="{ item }">
                                                                <v-btn tile small dark color="lime darken-4">
                                                                    <v-icon small>mdi mdi-account-check</v-icon>&nbsp; Active
                                                                </v-btn>
                                                            </template>

                                                            <template v-slot:item.ListAllMembers="{ item }">
                                                                <v-btn tile small dark color="light-blue accent-4">
                                                                    <v-icon small>mdi mdi-account-multiple</v-icon>&nbsp; List all users
                                                                </v-btn>
                                                            </template>

                                                            <template v-slot:item.Email="{ item }">
                                                                <v-btn :to="{ name: 'sendEmail' }" tile small dark color="grey darken-3">
                                                                    <v-icon small>mdi-email-edit-outline</v-icon>&nbsp; Email
                                                                </v-btn>
                                                            </template>
                                                        </v-data-table>
                                                    </v-container>
                                                </v-card>
                                            </v-col>
                                        </v-row>

                                    </v-col>
                                </v-row>
                            </v-card-text>

                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>
<script>
    import { mapState } from "vuex";
    import AppBar from "./AppBar.vue";
    export default {
        name: "pageViewMembers",
        components: {
            AppBar,
        },
        data() {
            return {
                itemsPerPage: 4,
                drawer: false,
                group: null,
                tab: null,
                dialogBillInfo: false,
                dialogPickUpInfo: false,
                GroupType:['Agent', 'Customer', 'Admin', 'Retailer'],
                StatusType:['Active', 'Band'],
                searchGroup: '',

                headersGroup: [
                    { text: 'Username', value: 'Username' },
                    { text: 'Group', value: 'Group' },
                    { text: 'Sign up date', value: 'Date' },
                    { text: 'Status', value: 'Status' },
                    { text: 'Edit member', value: 'Editmember' },
                    { text: 'Delete member', value: 'Deletemember' },
                    { text: 'Active or band user', value: 'ActiveOrBand' },
                    { text: 'List all members', value: 'ListAllMembers' },
                    { text: 'Email', value: 'Email' },
                ],
                Group: [
                    {
                        Username: 'Rasika',
                        Group: 'Admin',
                        Date: '11/02/2021',
                        Status:'Active',
                        MembersCount:'02',
                    },
                    {
                        Username: 'Lahiru',
                        Group: 'Agent',
                        Date: '10/05/2021',
                        Status:'Active',
                        MembersCount:'04',
                    },
                    {
                        Username: 'pavithra',
                        Group: 'Retailers',
                        Date: '09/04/2021',
                        Status:'Active',
                        MembersCount:'56',
                    },
                ],

            };
        },
        computed: {

        },
        watch: {

        },
        created(){

        },
        methods:{

        }
    };
</script>