<template>
    <v-app id="app">
        <AppBar/>
        <v-main>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-card elevation="2" tile>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12" md="12">
                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">SEND MAIL MESSAGE TO USER</v-toolbar-title>
                                            <v-spacer></v-spacer>
                                            <v-btn :to="{ name: 'pageViewMembers' }" style="font-family: Segoe UI !important;" tile small dark color="primary">
                                                <v-icon x-small>mdi mdi-backburger</v-icon>&nbsp;
                                                Back to users
                                            </v-btn>
                                        </v-toolbar>

                                        <v-card tile solo dense>
                                            <v-container fluid>
                                                <v-form ref="form"  lazy-validation>
                                                    <v-row>
                                                        <v-col  cols="12" md="12">
                                                            <br>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi mdi-email-outline" clearable v-model="From" label="From" required></v-text-field>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi mdi-email-outline" clearable  label="To"  v-model="To"></v-text-field>
                                                            <v-text-field class="teboxr" outlined  dense color="blue darken-4" prepend-icon="mdi mdi-lock" clearable  label="Subject"   v-model="Subject"></v-text-field>
                                                            <v-textarea class="teboxr"  rows="2" outlined  dense color="blue darken-4" prepend-icon="mdi mdi-folder-move" clearable v-model="Message" label="Message" required ></v-textarea>


                                                            <v-app-bar color="white" flat dense >
                                                                <v-spacer></v-spacer>
                                                                <v-btn small color="red darken-1"  tile dark>
                                                                    <v-icon small color="white">mdi-delete-circle-outline</v-icon>&nbsp;Reset
                                                                </v-btn>

                                                                <v-btn small color="primary" tile dark class="ml-4">
                                                                    <v-icon small>mdi-table-edit</v-icon>&nbsp;Send message
                                                                </v-btn>
                                                            </v-app-bar>
                                                        </v-col>
                                                    </v-row>
                                                </v-form>
                                            </v-container>
                                        </v-card>
                                    </v-col>
                                </v-row>
                            </v-card-text>

                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>
<script>
    import { mapState } from "vuex";
    import AppBar from "./AppBar.vue";
    export default {
        name: "sendEmail",
        components: {
            AppBar,
        },
        data() {
            return {
                itemsPerPage: 4,
                drawer: false,
                group: null,
                tab: null,
                dialogBillInfo: false,
                dialogPickUpInfo: false,
                insertCheck: true,
                searchGroup: '',
                GroupType:['Agent', 'Customer', 'Admin', 'Retailer'],

                headersGroup: [
                    { text: 'Table', value: 'Table' },
                    { text: 'Insert', value: 'Insert' },
                    { text: 'View', value: 'View' },
                    { text: 'Edit', value: 'Edit' },
                    { text: 'Delete', value: 'Delete' },
                ],
                Group: [
                    {
                        Table: 'Admins',
                    },
                    {
                        Table: 'Retailers',
                    },
                ],

            };
        },
        computed: {
            ...mapState({
                gmap: (state) => state.gmap,
                httpheader: (state) => state.httpheader,
                selectedLocation: (state) => state.selectedLocation,
                farmers: (state) => state.farmers,
            }),

            onMapClick() {
                return store.state.selectedLocation;
            },
        },
        created() {

        },
        methods: {

        },
        watch: {

        },
    };
</script>