<template>
    <v-app id="app">
        <AppBar/>
        <v-main>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-card elevation="2" tile>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12" md="12">
                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">APPLICATION INFORMATIONS</v-toolbar-title>
                                        </v-toolbar><br>

                                        <v-row>
                                            <v-col  cols="12" md="6">
                                                <v-sheet elevation="2"  color="grey lighten-3"  style="padding:12px 12px 12px 12px;font-family: Segoe UI !important;font-size: 12px;">
                                                   AGROBIZZ APPLICATION DETAILS
                                                </v-sheet><br>

                                                <v-card tile solo dense>
                                                    <v-container fluid>
                                                        <v-data-table :headers="headersAgrobizz" :items="Agrobizz" :search="searchAgrobizz">
                                                            <template v-slot:item.ViewA="{ item }">
                                                                <v-btn tile small dark color="lime darken-4">
                                                                    <v-icon small>mdi mdi-account-check</v-icon>&nbsp; EDIT
                                                                </v-btn>
                                                            </template>
                                                        </v-data-table>
                                                    </v-container>
                                                </v-card>
                                            </v-col>


                                            <v-col  cols="12" md="6">
                                                <v-sheet elevation="2"  color="grey lighten-3"  style="padding:12px 12px 12px 12px;font-family: Segoe UI !important;font-size: 12px;">
                                                    GEOOBIZZ APPLICATION DETAILS
                                                </v-sheet><br>
                                                <v-card tile solo dense>
                                                    <v-container fluid>
                                                        <v-data-table :headers="headersGeobizz" :items="Geobizz" :search="searchGeobizz">
                                                            <template v-slot:item.ViewG="{ item }">
                                                                <v-btn tile small dark color="lime darken-4">
                                                                    <v-icon small>mdi mdi-account-check</v-icon>&nbsp; EDIT
                                                                </v-btn>
                                                            </template>
                                                        </v-data-table>
                                                    </v-container>
                                                </v-card>
                                            </v-col>
                                        </v-row>
                                    </v-col>
                                </v-row>
                            </v-card-text>

                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>
<script>
    import { mapState } from "vuex";
    import AppBar from "./AppBar.vue";
    export default {
        name: "siteInformation",
        components: {
            AppBar,
        },
        data() {
            return {
                itemsPerPage: 4,
                drawer: false,
                group: null,
                tab: null,
                dialogBillInfo: false,
                dialogPickUpInfo: false,
                insertCheck: true,
                searchAgrobizz: '',
                searchGeobizz:'',

                headersAgrobizz: [
                    { text: 'Item', value: 'Item' },
                    { text: 'Detail', value: 'Detail' },
                    { text: 'View', value: 'ViewA' },
                ],
                Agrobizz: [
                    {
                        Item: 'Server name',
                        Detail:'Agrobizz',

                    },
                    {
                        Item: 'Application url',
                        Detail:'https://agrobizz.net/login',
                    },
                    {
                        Item: 'cPanel version',
                        Detail:'94.0 (build 16)',
                    },
                    {
                        Item: 'Apache version',
                        Detail:'2.4.51',
                    },
                    {
                        Item: 'PHP version',
                        Detail:'5.6.40',
                    },
                    {
                        Item: 'MySQL version',
                        Detail:'5.6.51',
                    },
                    {
                        Item: 'Architecture',
                        Detail:'x86_64',
                    },
                    {
                        Item: 'Shared IP address',
                        Detail:'204.93.169.73',
                    },
                    {
                        Item: 'Path to sendmail',
                        Detail:'/usr/sbin/sendmail',
                    },
                ],



                headersGeobizz: [
                    { text: 'Item', value: 'Item' },
                    { text: 'Detail', value: 'Detail' },
                    { text: 'View', value: 'ViewG' },
                ],
                Geobizz: [
                    {
                        Item: 'Server name',
                        Detail:'Geobizz',

                    },
                    {
                        Item: 'Application url',
                        Detail:'https://geobizz.net/login',
                    },
                    {
                        Item: 'cPanel version',
                        Detail:'94.0 (build 16)',
                    },
                    {
                        Item: 'Apache version',
                        Detail:'2.4.51',
                    },
                    {
                        Item: 'PHP version',
                        Detail:'5.6.40',
                    },
                    {
                        Item: 'MySQL version',
                        Detail:'5.6.51',
                    },
                    {
                        Item: 'Architecture',
                        Detail:'x86_64',
                    },
                    {
                        Item: 'Shared IP address',
                        Detail:'204.93.169.73',
                    },
                    {
                        Item: 'Path to sendmail',
                        Detail:'/usr/sbin/sendmail',
                    },
                ],

            };
        },
        computed: {
            ...mapState({
                gmap: (state) => state.gmap,
                httpheader: (state) => state.httpheader,
                selectedLocation: (state) => state.selectedLocation,
                farmers: (state) => state.farmers,
            }),

            onMapClick() {
                return store.state.selectedLocation;
            },
        },
        created() {

        },
        methods: {

        },
        watch: {

        },
    };
</script>