<template>
    <div v-ripple="{ center: true }" class="UserCategories" ref="UserCategories"></div>
</template>

<script>
    import * as am4core from "@amcharts/amcharts4/core";
    import * as am4charts from "@amcharts/amcharts4/charts";
    import am4themes_animated from "@amcharts/amcharts4/themes/animated";
    am4core.useTheme(am4themes_animated);

    export default {
        name: "UserCategories",
        mounted() {
            let chart = am4core.create(this.$refs.UserCategories, am4charts.PieChart);
            chart.fontSize = 10;
            chart.logo.disabled = true;
            // Add data
            chart.data = [{
                "country": "Agents",
                "litres": 98
            }, {
                "country": "Customers",
                "litres": 1101
            }, {
                "country": "Retailers",
                "litres": 300
            }, {
                "country": "Transporters",
                "litres": 510
            }, {
                "country": "Processors",
                "litres": 120
            }, {
                "country": "Farmers",
                "litres": 1220
            }, {
                "country": "Byers",
                "litres": 220
            }];

            // Add and configure Series
            let pieSeries = chart.series.push(new am4charts.PieSeries());
            pieSeries.dataFields.value = "litres";
            pieSeries.dataFields.category = "country";
            pieSeries.innerRadius = am4core.percent(50);
            pieSeries.ticks.template.disabled = true;
            pieSeries.labels.template.disabled = true;

            let rgm = new am4core.RadialGradientModifier();
            rgm.brightnesses.push(-0.8, -0.8, -0.5, 0, - 0.5);
            pieSeries.slices.template.fillModifier = rgm;
            pieSeries.slices.template.strokeModifier = rgm;
            pieSeries.slices.template.strokeOpacity = 0.4;
            pieSeries.slices.template.strokeWidth = 0;

            chart.legend = new am4charts.Legend();
            chart.legend.position = "right";


        },
    };
</script>

<style scoped>
    .UserCategories {
        width: 100%;
        height: 300px;
    }
</style>