<template>
    <v-app id="app">
        <AppBar/>
        <v-main>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" sm="12" md="12">
                        <v-card elevation="2" tile>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" sm="12" md="12">
                                        <v-toolbar dense solo>
                                            <v-btn icon>
                                                <v-icon>mdi-checkbox-marked-circle</v-icon>
                                            </v-btn>
                                            <v-toolbar-title overline style="font-family: Segoe UI !important;font-size: 14px;font-weight: bold;">USER LOGIN MANAGEMENT</v-toolbar-title>
                                        </v-toolbar><br>

                                        <v-row>
                                            <v-col  cols="12" md="12">
                                                <v-sheet elevation="2"  color="grey lighten-3"  style="padding:12px 12px 12px 12px;font-family: Segoe UI !important;font-size: 12px;">
                                                    USER LOGIN DETAILS
                                                </v-sheet><br>

                                                <v-card tile solo dense>
                                                    <v-container fluid>
                                                        <v-data-table :headers="headersuserLoginManagement" :items="userLoginManagement" :search="searchuserLoginManagement">
                                                            <template v-slot:item.Delete="{ item }">
                                                                <v-btn tile small dark color="red">
                                                                    <v-icon small>mdi-delete-alert-outline</v-icon>&nbsp; Delete
                                                                </v-btn>
                                                            </template>
                                                        </v-data-table>
                                                    </v-container>
                                                </v-card>
                                            </v-col>
                                        </v-row>
                                    </v-col>
                                </v-row>
                            </v-card-text>

                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>
<script>
    import { mapState } from "vuex";
    import AppBar from "./AppBar.vue";
    export default {
        name: "userLoginManagement",
        components: {
            AppBar,
        },
        data() {
            return {
                itemsPerPage: 4,
                drawer: false,
                group: null,
                tab: null,
                dialogBillInfo: false,
                dialogPickUpInfo: false,
                insertCheck: true,
                searchuserLoginManagement: '',


                headersuserLoginManagement: [
                    { text: 'User ID', value: 'UserID' },
                    { text: 'IP address', value: 'IPaddress' },
                    { text: 'Username', value: 'Username' },
                    { text: 'Sign-in date', value: 'signinDate' },
                    { text: 'Sign-in time', value: 'signintime' },
                    { text: 'Sign-out time', value: 'signouttime' },
                    { text: 'Delete', value: 'Delete' },
                ],
                userLoginManagement: [
                    {
                        UserID: '001',
                        IPaddress:'94.238.117.215',
                        Username:'Gunawardhana',
                        signinDate:'2021-04-12',
                        signintime:'6.34 A.M',
                        signouttime:'8.10 A.M',

                    },
                    {
                        UserID: '002',
                        IPaddress:'87.79.28.143',
                        Username:'Rasika',
                        signinDate:'2021-09-23',
                        signintime:'5. 56 P.M',
                        signouttime:'6.12 P.M',
                    },
                    {
                        UserID: '005',
                        IPaddress:'127.23.201.65',
                        Username:'Pavithra',
                        signinDate:'2021-05-17',
                        signintime:'2.01 P.M',
                        signouttime:'2.32 P.M',
                    },
                    {
                        UserID: '010',
                        IPaddress:'148.151.207.105',
                        Username:'Sudesh',
                        signinDate:'2021-10-30',
                        signintime:'11.00 A.M',
                        signouttime:'11.45 A.M',
                    },

                ],

            };
        },
        computed: {
            ...mapState({
                gmap: (state) => state.gmap,
                httpheader: (state) => state.httpheader,
                selectedLocation: (state) => state.selectedLocation,
                farmers: (state) => state.farmers,
            }),

            onMapClick() {
                return store.state.selectedLocation;
            },
        },
        created() {

        },
        methods: {

        },
        watch: {

        },
    };
</script>