<template>
    <div id="app">
        <v-app>
            <v-main id="loginPage" style="background-image: url('/img/wallpapers/88_1.jpg'); background-repeat: no-repeat !important;background-size: 100% 100%">
                <v-container class="fill-height" fluid >
                    <v-row align="center" justify="center">
                        <v-col cols="12" sm="8" md="4">

                            <v-card  class="mt-3 mx-auto rounded- align-center text-center"  tile >
                                <v-alert style="font-family: Segoe UI !important;font-size: 12px;border-radius:0px !important; width: 100% !important;" v-model="alert" dismissible close-icon="mdi-close-circle-outline" :type="alertType" border="left" elevation="12" :icon="alertIcon">
                                    <strong>{{ alertMessage }}</strong>
                                </v-alert>
                            </v-card>

                            <v-card style="margin-top: 6% !important; background-color: rgba(255, 255, 255, 1);"  class="mt-6 mx-auto rounded- align-center text-center" :elevation="hover ? 24 : 24" tile >
                                <v-row>
                                    <v-col cols="12" sm="2" md="2"></v-col>
                                    <v-col cols="12" sm="8" md="8">
                                        <v-img src="img/logo_2.png" style="margin-top: 5% !important; width: 100% !important;height: 80%!important"></v-img>
                                        <v-chip class="overline" style="font-family: Segoe UI !important;font-weight:bold;text-align:center!important;font-size: 12px !important;" small color="gary">
                                            AGROBIZZ / GEOBIZZ ADMIN PLATFORM
                                        </v-chip>
                                    </v-col>
                                    <v-col cols="12" sm="2" md="2"></v-col>
                                </v-row>

                                <v-card-text >
                                    <v-form style="font-family: Segoe UI !important;font-size: 12px" v-model="valid" ref="form" action="login" method="post">
                                        <v-text-field name="_token" :value="csrf" v-model="csrf" v-show="false"></v-text-field>
                                        <v-text-field rounded dense solo light  counter="100" clearable  label="Email" name="email" :error-messages="email_errors" :rules="emailRules" v-model="email" append-icon="mdi-email" type="text"></v-text-field>
                                        <v-text-field rounded dense solo light color="gray darken-4" light counter="25" clearable id="password" label="Password" :value="password" :error-messages="password_errors" :rules="passwordRules"
                                                      :append-icon="e1 ? 'mdi-eye' : 'mdi-eye-off'"
                                                      @click:append="e1 = !e1" v-model="password" :type="e1 ? 'text' : 'password'"
                                                      name="password"  ></v-text-field>
                                    </v-form><br>
                                    <v-row>
                                        <v-col  sm="12" md="12">
                                            <v-btn style="font-family: Segoe UI !important;font-size: 12px;" rounded color="blue darken-2" :disabled="!email" :loading="loginLoader" @click="submit"  block   class="white--text">Sign Me In <v-icon right dark>&nbsp;&nbsp;&nbsp;mdi-account-key</v-icon></v-btn>
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                            <v-row class="mt-4">
                                <v-col cols="12">
                                    <v-list-item-title class="overline" style="text-align:center;font-weight:bolder !important;color: white !important;font-size: 14px !important;">
                                        Powerd by celataTech
                                    </v-list-item-title>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-container>

            </v-main>
        </v-app>
    </div>
</template>


<<script>
    export default {
        name: "apilogin",
        data: () => {
            return {
                alert: false,
                alertMessage: '',
                alertType: '',
                alertIcon: '',
                hover: true,
                valid: false,
                e1: false,
                password: '',
                passwordRules: [
                    v => v.length <= 25 || 'Max 25 characters',
                    (v) => !!v || 'Password is required',
                ],
                email: '',
                emailRules: [
                    v => v.length <= 100 || 'Max 100 characters',
                    (v) => !!v || 'E-mail is required',
                    (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$/.test(v) || 'E-mail must be valid'
                ],
                csrf:'',
                email_errors:[],
                password_errors:[],
                header:{},
                loginLoader:false,
            }
        },
        mounted() {
            let laravel = JSON.parse(window.Laravel);
            this.csrf =  laravel.csrfToken;
            this.header = {
                'X-CSRF-TOKEN': this.csrf,
                'X-Requested-With': 'XMLHttpRequest',
                'content-type': 'multipart/form-data',
            };
        },
        methods:{
            submit () {
                if (this.$refs.form.validate()) {
                    this.checkUserLogin();
                }
            },
            redirectToRegistration(){
                window.location.href = '/apiRegistration';
            },
            //------------check user login------------------------------------------------
            checkUserLogin: function () {
                this.loginLoader = true;

                axios.post('/api/checkLogin', {email: this.email, password: this.password}, this.header)
                    .then(response => {
                        console.log(response.data);
                        this.loginLoader = false;
                        if (response.data.validate === 'success') {
                            this.alertMessage = 'LOGIN SUCCESS !';
                            this.alertType = 'primary';
                            this.alertIcon = 'mdi mdi-thumb-up';
                            this.alert = true;
                            this.$refs.form.$el.submit();
                        } else if (response.data.validate === 'invalid_email') {
                            this.password = '';
                            this.email_errors = ['we cannot find user with this email']
                            this.alertMessage = 'INVALID USER DETAILS !';
                            this.alertType = 'error';
                            this.alertIcon = 'mdi mdi-alert';
                            this.alert = true;
                        } else if (response.data.validate === 'invalid_password') {
                            this.password = '';
                            this.password_errors = ['Invalid password. try forget password'];
                            this.alertType = 'error';
                            this.alertIcon = 'mdi mdi-alert';
                            this.alertMessage = 'INVALID USER DETAILS !';
                            this.alert = true;
                        }
                    }).catch((error) => {
                    console.log(error)
                });
            },
        }
    }
</script>

