<template>
    <div id="app">
        <v-app>
            <v-main id="loginPage" style="background-image: url('/img/BackgroundNew.jpg'); background-repeat: no-repeat !important;background-size: 100% 100%">

                <v-container class="fill-height" fluid style="position: absolute !important;z-index: 999 !important;">
                    <v-row align="center" justify="center">
                        <v-col cols="12" sm="8" md="4">
                            <v-row>
                                <v-col cols="12" md="12">
                                    <v-app-bar tile color="white" style=" background-color: rgba(255, 255, 255, .0) !important;" dense >
                                        <v-spacer></v-spacer>
                                        <v-toolbar-title class="overline" style="color:white !important;text-align:center !important;font-weight: bold !important;font-size: 18px !important;">
                                            PLEASE REGISTER
                                        </v-toolbar-title>
                                        <v-spacer></v-spacer>
                                    </v-app-bar>
                                </v-col>
                            </v-row>
                            <v-card shaped style=" background-color: rgba(255, 255, 255, .1);"  class="mx-auto rounded- align-center text-center" :elevation="hover ? 24 : 24" tile >

                                <v-card-text style="margin-top: -1% !important;">
                                    <v-container>
                                        <v-text-field rounded dense solo required light clearable label="Username"  ref="name" v-model="userName" :rules="[() => !!userName || 'User name required',() => !!userName && userName.length <= 200 || 'Enter short name',]" counter="200" append-icon="mdi-account-circle"></v-text-field>
                                        <v-text-field rounded dense solo required light clearable v-model="firstname" :rules="[() => !!firstname || 'User first name is required',() => !!firstname && firstname.length <= 40 || 'Enter short name',]" counter="40"  label="First name" append-icon="mdi-rename-box"></v-text-field>
                                        <v-text-field rounded dense solo required light clearable v-model="lastname" :rules="[() => !!lastname || 'User last name is required',() => !!lastname && lastname.length <= 40 || 'Enter short name',]" counter="40"   label="Last name" append-icon="mdi-rename-box"></v-text-field>
                                        <v-text-field rounded dense solo required light clearable label="Email"  ref="email" v-model="userEmail" :rules="[v => !!v || 'E-mail is required',v => /.+@.+\..+/.test(v) || 'E-mail must be valid',]" append-icon="mdi-email"></v-text-field>
                                        <v-text-field rounded dense solo required light clearable label="Mobile" v-mask="'##########'"  :rules="[() => !!userPhone || 'User mobile number is required',() => !!userPhone && userPhone.length <= 10 || 'Max 10 numbers',]"  hint="Enter 10 Digit Numbers EX: 0712345678" v-model="userPhone" append-icon="mdi-cellphone-iphone"></v-text-field>
                                        <v-text-field rounded dense solo color="gray darken-4" light counter="10" clearable id="password" label="Password" :value="password"  :rules=" [ v => v.length <= 10 || 'Max 10 characters',  (v) => !!v || 'Password is required', ]"
                                                      :append-icon="e1 ? 'mdi-eye' : 'mdi-eye-off'"
                                                      @click:append="e1 = !e1" v-model="passwordValue" :type="e1 ? 'text' : 'password'"
                                                      name="password"  ></v-text-field>
                                        <span v-if="score === 0">Use better password</span>
                                        <password-meter :password="passwordValue" @score="onScore" />
                                    </v-container>
                                    <v-row>
                                        <v-col  sm="12" md="6">
                                            <v-btn @click="redirectToLogin()" block tile style="background-color:#1B5E20" class="white--text">Sign Me In <v-icon right dark>&nbsp;&nbsp;&nbsp;mdi-account-key</v-icon></v-btn>
                                        </v-col>
                                        <v-col  sm="12" md="6">
                                            <v-btn :loading="btnSubmitloader"  @click="btnSubmitloader=true" block tile style="background-color:#1B5E20" class="white--text">Register<v-icon right dark>&nbsp;&nbsp;&nbsp;mdi-account-key</v-icon></v-btn>
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>

            </v-main>
        </v-app>
        <v-snackbar
                v-model="snackbar"
                :multi-line="false"
                :color="snackColor"
                :top="snackBarTop"
                :right="snackBarRight"
        >
            {{ snackMessage }}

        </v-snackbar>
    </div>
</template>

<script>
    import VideoBg from 'vue-videobg';
    import passwordMeter from "vue-simple-password-meter";
    export default {
        name: "apiRegistration",
        props: {
            source: String
        },
        components: {
            passwordMeter,
            VideoBg,
        },
        data: () => {
            return {
                hover: true,
                passwordValue: null,
                score: null,
                statSkeltonLoading: false,
                userEmail: '',
                userName: '',
                firstname: '',
                lastname: '',
                e1: false,
                btnSubmitloader: false,
                userPhone: '',
                valid: false,
                snackbar: false,
                snackColor: 'primary',
                snackMessage: '',
                snackBarRight: false,
                snackBarTop: true,
                userHeaders: [
                    {text: 'name', value: 'name'},
                    {text: 'designation', value: 'designation'},
                    {text: 'Email', value: 'email'},
                    {text: 'Mobile', value: 'mobile'},
                    {text: 'MOH', value: 'MOH'},
                    {text: 'Locations', value: 'locations'},
                    {text: 'Type', value: 'role'},
                    {text: 'Status', value: 'status'},
                    {text: 'Jobs', value: 'info'},
                ],
                fieldHeaders: [
                    {text: 'MOH', value: 'MOH'},
                    {text: 'PHI Area', value: 'phi'},
                    {text: 'Address', value: 'address'},
                    {text: 'PHI Name', value: 'user.name'},
                    {text: 'Status', value: 'status'},
                    {text: 'Date', value: 'updated_at'},
                ],
            }
        },

        watch: {
            btnSubmitloader(){
                if (this.$refs.addNewUserForm.validate()) {
                    if (this.btnSubmitloader) {
                        setTimeout(() => {
                            this.createNewUser();
                        }, 1500); // toggle after 1.5 seconds
                    }
                } else {
                    this.btnSubmitloader = false;
                }
            }
        },
        methods:{
            onScore({ score, strength }) {
                console.log(score); // from 0 to 4
                console.log(strength); // one of : 'risky', 'guessable', 'weak', 'safe' , 'secure'
                this.score = score;
            },
            redirectToLogin(){
                window.location.href = '/';
            },
            logout(){
                window.setLogout();
            },
            //=============================================Create New User==============================================
            createNewUser(){
                let formData = new FormData();
                formData.append("uid",store.state.httpheader.user.id);
                formData.append("name",this.userName);
                formData.append("email",this.userEmail);
                formData.append("mobile",this.userPhone);
                formData.append("role",this.userRole);

                axios.post('/api/admin/addNewUser',formData,store.state.httpheader.header)
                    .then(response => {
                        console.log(response);
                        if (response.data.http_status =='success'){
                            this.snackMessage = response.data.message;
                            this.snackColor = 'success';
                            this.snackbar = true;

                            this.$refs.addNewUserForm.reset();
                            this.$refs.addNewUserForm.resetValidation();

                            let userData = response.data.data;
                            this.users = [];
                            for (let i=0;i<userData.length;i++){
                                this.users.push({
                                    id:userData[i].id,
                                    name:userData[i].name,
                                    designation:userData[i].designation,
                                    locations:userData[i].locations,
                                    mobile:userData[i].mobile,
                                    email:userData[i].email,
                                    role:userData[i].role,
                                    status:userData[i].status,
                                })
                            }
                        }
                        else if(response.data.http_status == 'email_error'){
                            this.snackMessage = response.data.message;
                            this.snackColor = 'error';
                            this.snackbar = true;
                            this.btnSubmitloader = false;
                            this.userEmail = '';
                        }
                        else{
                            this.snackMessage = response.data.message;
                            this.snackColor = 'error';
                            this.snackbar = true;
                        }
                        this.btnSubmitloader = false;
                    }).catch((error) => {
                    console.log(error); //Logs a string: Error: Request failed with status code 404
                    this.btnSubmitloader = false;
                    this.snackMessage = error;
                    this.snackColor = 'error';
                    this.snackbar = true;
                });
            },
        },
    }
</script>

<style scoped>
    @keyframes move-background {
        from {
            -webkit-transform: translate3d(0px, 0px, 0px);
        }
        to {
            -webkit-transform: translate3d(1000px, 0px, 0px);
        }
    }
    @-webkit-keyframes move-background {
        from {
            -webkit-transform: translate3d(0px, 0px, 0px);
        }
        to {
            -webkit-transform: translate3d(1000px, 0px, 0px);
        }
    }
    @-moz-keyframes move-background {
        from {
            -webkit-transform: translate3d(0px, 0px, 0px);
        }
        to {
            -webkit-transform: translate3d(1000px, 0px, 0px);
        }
    }

    @-webkit-keyframes move-background {
        from {
            -webkit-transform: translate3d(0px, 0px, 0px);
        }
        to {
            -webkit-transform: translate3d(1000px, 0px, 0px);
        }
    }
    .background-container{
        position: fixed;
        top: 35px;
        left:0;
        bottom: 0;
        right: 0;
    }
    .stars {
        background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        z-index: 0;
    }
    .globe{
        height: 40vh;
        width:40vh;
        position: absolute;
        z-index: 3;
        right: 20px;
    }
    #earth {
        background-image: url('https://encrypted-tbn3.google.com/images?q=tbn:ANd9GcTQqoB4xBnIkmUg5pxDyYW2h0Q1pRTsbQBOfhg-E-y4iLFicsyi');
        width: 90px;
        height: 90px;
        /* a black shadow from left and white from right */
        box-shadow: inset 16px 0 40px 3px rgba(0,0,0,0.9),
        inset -3px 0 5px 2px rgba(255,255,255,0.16);
        background-size: 290px;
        margin: 70px auto;
        border-radius: 50%;
        position: absolute;
        animation-name: move,scale,rotate;
        animation-duration: 20s,20s,20s;
        animation-iteration-count: infinite,infinite,infinite;
        animation-timing-function: ease-in-out,linear,linear;
    }
    @keyframes move {
        0%   { left: 2200px;  }
        70%  { left: -2200px; }
        100% { left: 2200px;  }
    }
    @keyframes scale {
        0%  { transform: scale(1);   }
        32% { transform: scale(0.4); animation-timing-function:  ease-in; }
        70% { transform: scale(1); animation-timing-function:  ease-in;  }
        75% { transform: scale(1.2);  animation-timing-function:  ease-in-out; }
        86% { transform: scale(2);  }
        98% { transform: scale(1.2); }
        100%{ transform: scale(1); }
    }
    @keyframes rotate {
        0% { background-position: 0px; }
        100% { background-position: 190px; }
    }
    #loginPage {
        background: #ffff;
    }
    .new_footer_top {
        padding: 120px 0px 500px;
        position: relative;
        overflow-x: hidden;
    }
    .new_footer_top .company_widget p {
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        color: #6a7695;
        margin-bottom: 20px;
    }
    .new_footer_top .company_widget .f_subscribe_two .btn_get {
        border-width: 1px;
        margin-top: 20px;
    }
    .new_footer_top .f_widget.about-widget .f_list li a:hover {
        color: #5e2ced;
    }
    .new_footer_top .f_widget.about-widget .f_list li {
        margin-bottom: 11px;
    }
    .f_widget.about-widget .f_list li:last-child {
        margin-bottom: 0px;
    }
    .f_widget.about-widget .f_list li {
        margin-bottom: 15px;
    }
    .new_footer_top .f_social_icon a {
        width: 44px;
        height: 44px;
        line-height: 43px;
        background: transparent;
        border: 1px solid #e2e2eb;
        font-size: 24px;
    }
    .f_social_icon a {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        font-size: 14px;
        line-height: 45px;
        color: #858da8;
        display: inline-block;
        background: #ebeef5;
        text-align: center;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    .new_footer_top .f_social_icon a:hover {
        background: #5e2ced;
        border-color: #5e2ced;
        color:white;
    }
    .new_footer_top .f_social_icon a + a {
        margin-left: 4px;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #4b505e;
    }
    .new_footer_top .f_widget.about-widget .f_list li a {
        color: #6a7695;
    }
    .new_footer_top .footer_bg {
        position: absolute;
        bottom: 0;
        background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
        width: 100%;
        height: 266px;
    }
    .new_footer_top .footer_bg .footer_bg_one {
        background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
        width: 330px;
        height: 105px;
        background-size:100%;
        position: absolute;
        bottom: 0;
        left: 30%;
        -webkit-animation: myfirst 22s linear infinite;
        animation: myfirst 22s linear infinite;
    }
    .new_footer_top .footer_bg .footer_bg_two {
        background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
        width: 88px;
        height: 100px;
        background-size:100%;
        bottom: 0;
        left: 38%;
        position: absolute;
        -webkit-animation: myfirst 30s linear infinite;
        animation: myfirst 30s linear infinite;
    }
    @-moz-keyframes myfirst {
        0% {
            left: -25%;
        }
        100% {
            left: 100%;
        }
    }
    @-webkit-keyframes myfirst {
        0% {
            left: -25%;
        }
        100% {
            left: 100%;
        }
    }
    @keyframes myfirst {
        0% {
            left: -25%;
        }
        100% {
            left: 100%;
        }
    }
</style>
